{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block sidebar %}
    {{ include("LoginCidadaoSupportBundle::extensible.sidebar.html.twig") }}
{% endblock %}

{% block content %}
    <div class="content clearfix">
        EMPTY
    </div>
{% endblock content %}
