{% extends "LoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-region clearfix">

    <h1>{{ 'statistics.userByRegion'|trans }}</h1>

    {% for item in data %}
      <div class="col-md-4">
        <div class="item">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          <div>
            {{ item.name | trans }}
          </div>
          <div class="qty">{{ item.qty }}</div>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}