/web/bundles/
/web/css/
/web/js/
/web/images/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/nbproject/
/.project
/.settings
/.buildpath
/app/check.php
