{% extends "::base.html.twig" %}

{% trans_default_domain "LoginCidadaoTOSBundle" %}
{% block title %}LoginCidadaoTOSBundle:Agreement:agree{% endblock %}

{% block body %}
    <h1>Welcome to the Agreement:agree page</h1>
{% endblock %}
