<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ 'RGs'|trans }}</h2>
    </div>
    <div class="panel-body">
        <div id="rg-grid-place">
            {{ include("PROCERGSLoginCidadaoCoreBundle:IdCard:grid.html.twig", {'grid': grid} ) }}
        </div>
    </div>
</div>
