#btn-broadcast-new {
    margin-bottom: 10px;
}
.placeholder .label {
  color: #555;
  font-size: 13px;
  font-weight: normal;
}

#btn-preview {
  margin-bottom: 50px;
}

a.list-group-item:hover {
  background-color: #E2EFDE;
}

.broadcast-item .list-group-item-text {
    margin: 5px 0;
}

#notification-preview h1 {
  margin-top: 0;
}