{% extends 'PROCERGSLoginCidadaoCoreBundle::base.popup.html.twig' %}
{% block body %}
    <div class="popup-content">
        <div class="form-content">
            <h3 class="title">{{ 'admin.sugg.show.title'|trans }}</h3>
            <div class="form-group">
            <label>{{ sugg.person.username }} [{{ sugg.createdAt|date('d/m/Y h:i:s') }}]</label>
            <div>{{ sugg.text }}</div>
		    </div>
        </div>
    </div>
{% endblock %}