/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.btn.btn-home-register {
    background-color: #690;
    color: #fff;
}

.btn.btn-home-login {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}

.panel-compact .panel-body > .login,
.panel-compact .panel-body > .registration {
    width: 100%;
}

.panel-compact > .panel-footer {
    background-color: transparent;
}

.panel-3rd-party-login > .panel-heading {
    background-color: #f5f5f5;
}

.panel-3rd-party-login > .panel-heading h2 {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.terms {
    color: #666;
    font-size: 12px;
}

/* 3rd Party Login */
.connect {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center !important;
    height: 50px !important;
    width: 50px !important;
    margin: 0 auto;
}

.connect.facebook {
    background-image: url(../../images/facebook-f.svg);
    background-size: 45px;
    background-color: #3b5998;
    background-position: 12px 8px !important;
}

.connect.twitter {
    background-image: url(../../images/twitter.svg);
    background-size: 45px;
    background-color: #1da1f2;
}

.connect.google {
    background-image: url(../../images/google-plus.svg);
    background-color: #dd4b39;
    background-size: 50px;
}
