#register-aside, .general-content {
    background-color: #f1f1f1;
}

form .input-error {
    padding: 0 12px;
}

/* Display labels */
label.sr-only {
    display: block !important;
    width: auto !important;
    height: auto !important;
    position: relative !important;
}
