@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

.font-a {
    font-family: arial, helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url(../images/bg_inner.jpg);
    background-size: cover;
    background-position: center top;
    /*background: #e5e5e5;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-attachment: fixed;*/
}

.container {
    max-width: 960px;
}

body>.container {
    min-height: 100%;
    margin-bottom: -36px;
    margin-top: -87px;
    padding-bottom: 36px;
    padding-top: 87px;
}

.header {
    background-color: rgba(200, 200, 200, .5);
}

.header img.logo {
    height: 65px;
}

img.desaturate {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.navbar-collapse {
    max-height: none;
}

/* override boostrap btn*/
 .btn-success {
     background-color: #039935;
     background-image: none;
     border-radius:0;
     box-shadow: 1px 1px 0 0 #969696;
     color: #FFF;
     font-size: 16px;
     padding-left: 25px;
     padding-right: 25px;
}

.btn-success:hover {
    background-color: #5cb85c;
}

footer {
    color: #999999;
    display: block;
    position: relative;
    margin-top: 50px;
    min-height: 36px;
    clear: both;
    width: 100%;
}

footer,
footer>div{
    overflow: hidden;
}

footer>div {
    border-top: 1px solid #ebebeb;
    padding: 10px 0 0;
    font-size: .82em;
}

footer nav li {
    display: inline-block;
    margin-right: 10px;
}

footer nav li a {
    color: #000;
}

.footer-login li, .footer-login li a {
    color: #737373;
}

.form-control {
    background-color: #999999;
    border-radius: 0;
    color: #FFF;
}

.form-control:-moz-placeholder {
  color: #FFF;
}

.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #FFF;
}

.form-control::-webkit-input-placeholder {
  color: #FFF;
}

form .has-error input {
    /*background-color: #cc3300;*/
}

form .input-error {
    background-color: #fcccca;
    background-image: none;
}

form .input-error ul {
    color: #000;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 5px 20px;
}

form .form-control-feedback {
    display: none;
}

form .has-feedback .form-control-feedback {
    display: block;
}