@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

.font-a {
    font-family: arial, helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-image: url(../images/bg_inner.jpg);
    background-size: cover;
    background-position: center top;
    /*background: #e5e5e5;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-attachment: fixed;*/
}

.container {
    max-width: 960px;
}

body>.container {
    min-height: 100%;
    margin-bottom: -36px;
    margin-top: -87px;
    padding-bottom: 36px;
    padding-top: 87px;
}

.header {
    background-color: rgba(200, 200, 200, .5);
}

.header img.logo {
    height: 65px;
}

img.desaturate {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.navbar-collapse {
    max-height: none;
}

/* override boostrap btn*/
 .btn-success {
     background-color: #039935;
     background-image: none;
     border-radius:0;
     box-shadow: 1px 1px 0 0 #969696;
     color: #FFF;
     font-size: 16px;
     padding-left: 25px;
     padding-right: 25px;
}

.btn-success:hover {
    background-color: #5cb85c;
}

footer {
    color: #999999;
    display: block;
    position: relative;
    margin-top: 50px;
    min-height: 36px;
    clear: both;
    width: 100%;
}

footer,
footer>div{
    overflow: hidden;
}

footer>div {
    border-top: 1px solid #ebebeb;
    padding: 10px 0 0;
    font-size: .82em;
}

footer nav li {
    display: inline-block;
    margin-right: 10px;
}

footer nav li a {
    color: #000;
}

.footer-login li, .footer-login li a {
    color: #737373;
}

.form-control {
    background-color: #999999;
    border: none;
    border-radius: 0;
    color: #FFF;
}

.form-control:-moz-placeholder {
  color: #FFF;
}

.form-control::-moz-placeholder {
  color: #FFF;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #FFF;
}

.form-control::-webkit-input-placeholder {
  color: #FFF;
}


/* settings nav and content */
.settings-nav, .settings-content {
    background-color: #dddedc;
    min-height: 300px;
}

.settings-nav li {
    margin: 12px 0;
}

.settings-nav li a {
    border-radius: 0;
    height: auto;
    padding: 20px 15px;
    position: relative;
}

.settings-nav li.active a {
    background-color: #009933;
}

.settings-nav li a:hover, .settings-nav li.active a:hover {
    background-color: #c7d6cb;
    color: #696969;
}

.settings-nav li a span {
    color: #696969;
    display: inline-block;
    font-weight: 500;
    width: 85%;
}

.settings-nav li.active span {
    color: #FFF;
}

.settings-nav li .bg {
    background-image: url('../images/settings_nav_icons.png');
    display: block;
    margin-top: -15px;
    position: absolute;
    right: 8px;
    top: 50%;
}

.settings-nav .profile .bg {
    background-position: -3px 0;
    height: 30px;
    width: 30px;
}

.settings-nav .profile.active .bg, .settings-nav .profile a:hover .bg {
    background-position: -42px 0;
}

.settings-nav .services .bg {
    background-position: 0 -72px;
    height: 30px;
    width: 30px;
}

.settings-nav .services.active .bg, .settings-nav .services a:hover .bg {
    background-position: -40px -72px;
}

.settings-nav .notifications .bg {
    background-position: 0 -142px;
    height: 22px;
    width: 32px;
}

.settings-nav .notifications.active .bg, .settings-nav .notifications a:hover .bg {
    background-position: -39px -142px;
}

.settings-nav .username .bg {
    background-position: -3px -207px;
    height: 34px;
    right: 11px;
    width: 28px;
}

.settings-nav .username.active .bg, .settings-nav .username a:hover .bg {
    background-position: -42px -207px;
}

.settings-nav .password .bg {
    background-position: -6px -280px;
    height: 30px;
    right: 16px;
    width: 22px;
}

.settings-nav .password.active .bg, .settings-nav .password a:hover .bg {
    background-position: -45px -280px;
}

.settings-nav .settings .bg {
    background-position: -2px -350px;
    height: 30px;
    right: 11px;
    width: 30px;
}

.settings-nav .settings.active .bg, .settings-nav .settings a:hover .bg {
    background-position: -42px -350px;
}

.settings-content {
    /*padding: 10px;*/
    padding: 0;
}

.settings-content h3 {
    margin: 10px 15px;
}

.settings-content h4 {
    margin: 10px 35px;
}

.settings-content .inner-content {
    padding: 10px;
}


/* profile page */
#profile-edit form {
    /*margin: 20px 60px;*/
}

#profile-edit form .inner-content {
    padding: 20px 60px;
}

#profile-edit .form-control {
    margin-bottom: 10px;
}

#profile-edit .birthdate select {
    margin-right: 3px;
}

#profile-edit .form-bar {
    background-color: #d9d9d9;
    height: 40px;
}


/* services/applications page */
#applications .app-toggle {
    margin-right: 50px;
}

#applications .app-toggle .btn {
    background: none;
    border: none;
    box-shadow: none;
    float: right;
    font-size: 1.8em;
    padding: 8px;
    text-shadow: none;
}

#applications .app-toggle .active {
    opacity: 0.2
}

#applications ul {
    padding-right: 40px;
}

#applications .list-group {
    box-shadow: none;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
}

#applications h4 {
    margin-bottom: 20px;
}

#applications li {
    background-color: #999999;
    color: #FFF;
    float: left;
    height: 175px;
    list-style-type: none;
    margin: 0 15px 30px 15px;
    width: 140px;
}

#applications li img {
    margin-top: 14px;
}

#applications li h5 {
    font-size: 17px;
    height: 40px;
    line-height: 20px;
    padding: 0 10px
}

#applications li .btn {
    background-color: #696969;
    border-radius: 0;
    color: #FFF;
    display: block;
    height: 35px;
    width: 100%;
}

#applications li .activated {
    background-color: #009933;
}

#applications .list li {
    float: none;
    height: 35px;
    margin-left: 0;
    width: 100%;
}

#applications .list li img {
    float: left;
    height: 45px;
    margin-top: -5px;
    width: 45px;
}

#applications .list li h5 {
    float: left;
    height: 100%;
    line-height: 35px;
    margin: 0;
    padding: 0 20px;
}

#applications .list li .btn {
    float: right;
    width: 110px;
}


/*#applications.list li {
    height: 50px;
    padding: 0;
    width: 570px;
}

#applications.list li .img-rounded {
    float: left;
    height: 50px;
    width: 50px;
}

#applications.list li h4 {
    float: left;
    margin: 13px 10px;
}*/




/*#profile {
    background-color: #f1f1f1;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 20px;
    width: 284px;
}

#profile .head {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
    height: 192px;
    left: -32px;
    padding: 10px;
    position: relative;
    z-index: 999;
    width: 306px
}

#profile .basic {
    float: left;
    height: 105px;
    margin-bottom: 5px;
    padding-left: 5px;
}

#profile .progress {
    background-color: #a1a1a1;
    color: #FFF;
    font-size: 20px;
    height: 36px;
    text-align: center;
}

#profile .txt {
    display: block;
    color: #FFF;
    font-size: 20px;
    line-height: 36px;
    vertical-align: middle;
}


#profile .info {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

#profile .info.open {
    display: block;
    height: 300px;
}

#profile .toggle {
    bottom: 3px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #018543;
}

#profile .toggle.open {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #b80000;
    border-top:none;
}

#profile dl dt {
    margin: 10px 0 0;
}

#profile input[readonly='readonly'] {
    background: none;
    border: none;
}

#applications {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    padding-left: 60px;
}


#applications li {
    background-color: #4A3D2B;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    color: #DADADA;
    float: left;
    height: 245px;
    list-style-type: none;
    margin: 0 15px 30px 15px;
    padding: 10px;
    width: 170px;
}

#applications.icon li h4 {
    height: 44px;
}
#applications li h4 {
    font-size: 20px;
}


#applications.list li {
    height: 50px;
    padding: 0;
    width: 570px;
}

#applications.list li .img-rounded {
    float: left;
    height: 50px;
    width: 50px;
}

#applications.list li h4 {
    float: left;
    margin: 13px 10px;
}

#applications .app-switch .btn{
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    color: #FFF;
    margin: 7px 15px 0 0;
}

#applications .app-switch .activate {
    background-color: #138a35;
}

#applications .app-switch .deactivate {
    background-color: #b80404;
}

#applications.list li .onoffswitch {
    float: right;
    margin-right: 10px;
}

.btn-app-display {
    background: -moz-linear-gradient(
        top,
        #ffffff 0%,
        #f0f0f0);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#ffffff),
        to(#f0f0f0));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #DEDEDE;
    -moz-box-shadow:
        0px 1px 1px rgba(000,000,000,0.2),
        inset 0px 0px 2px rgba(224,224,224,1);
    -webkit-box-shadow:
        0px 1px 1px rgba(000,000,000,0.2),
        inset 0px 0px 2px rgba(224,224,224,1);
    box-shadow:
        0px 1px 1px rgba(000,000,000,0.2),
        inset 0px 0px 2px rgba(224,224,224,1);
    text-shadow:
        0px -1px 0px rgba(194,194,194,0.6),
        0px 1px 0px rgba(255,255,255,0.3);
    background-position: center;
    background-repeat: no-repeat;
    height: 34px;
    margin-bottom: 30px;
    padding: 4px 0 0 0;
    width: 33px;
}


.btn-app-display i {
    display: inline-block;
    height: 25px;
    width: 25px;
}

.btn-app-display[data-display='list'] i{
    background-image: url('../images/btn_list.png');
}

.btn-app-display[data-display='icon'] i{
    background-image: url('../images/btn_icon.png');
}

.msg-popup {
    background-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px #000;
    color:#4d4d4d;
    height: 225px;
    left: 50%;
    margin-left: -300px;
    margin-top: -110px;
    padding: 14px;
    position: absolute;
    top:50%;
    width: 600px;
    z-index: 9999;
}

.msg-popup h4 {
    margin-top: 0;
}

.msg-popup .content {
    background-color: #f0f0f0;
    border: solid 2px #b3b3b3;
    border-radius: 10px;
    height: 100%;
    padding-top: 15px;
    width: 100%;
}

.msg-popup .icon {
    background-repeat: no-repeat;
    background-position: center top;
    float: left;
    height: 75%;
    width: 200px;
}

.msg-popup.alert .icon {
    background-image: url(../images/alert.png);
}

.msg-popup.error .icon {
    background-image: url(../images/error.png);
}

.msg-popup.info .icon {
    background-image: url(../images/info.png);
}

.msg-popup.success .icon {
    background-image: url(../images/success.png);
}

.msg-popup .info {
    float: right;
    height: 70%;
    width: 368px;
}

.msg-popup .info p {
    margin: 20px 0 15px 0;
}

.msg-popup .btn {
    box-shadow: 0 0 5px 0px #c6c8cf;
    color: #FFF;
    font-size: 20px;
    height: 30px;
    line-height: 16px;
    margin: 0 auto;
    text-transform: uppercase;
    text-shadow: 0 0 1px #CCC;
    width: 150px;
}

.msg-popup.alert .btn {
    background-color: #fcd87c;
}

.msg-popup.error .btn {
    background-color: #e61717;
}

.msg-popup.info .btn {
    background-color: blue;
}

.msg-popup.success .btn {
    background-color: green;
}

#help-modal .left {
    width: 25%;
}

#help-modal .right {
    width: 75%;
}

#help-modal .big {
    font-size: 50px;
}

.header-shadows {
    text-shadow: 1px 1px 1px #FFFFFF;
}
*/