@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

#lc-navbar, #lc-navbar .btn {
    border-radius: 0;
}

#lc-navbar .btn {
    font-weight: 400;
}

#lc-navbar *, .notification-extreme * {
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

#lc-navbar .btn-default, #lc-navbar .btn-success {
    background-color: #039935;
    border: solid 1px #039935;
    color: #FFF;
}

#lc-navbar b, #lc-navbar strong,
.notification-extreme b, .notification-extreme strong {
    font-weight: 700;
}

#lc-navbar .container, .notification-extreme .container {
    max-width: 960px;
}

#lc-navbar .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#lc-navbar .glyphicon-th:before {
    content: "\e011";
}

#lc-navbar .glyphicon-bell:before {
    content: "\e123";
}

#lc-navbar,
#lc-navbar * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}

#lc-navbar {
    background-image: -webkit-linear-gradient(top,#3C3C3C 0,#222 100%);
    background-image: linear-gradient(to bottom,#3C3C3C 0,#222 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-color: #222;
    border: none;
    font-family: 'Open Sans', arial;
    min-height: 50px;
    position: relative;
    margin-bottom: 0;
}

#lc-navbar .pull-left {
    float: left;
}

#lc-navbar .pull-right {
    float: right;
}

#lc-navbar-container {
    margin: 0 auto;
    max-width: 960px;
}

#lc-navbar a {
    outline: none;
    text-decoration: none;
}

#lc-navbar-ul * {
    box-shadow: none;
}

#lc-navbar-ul {
    margin: 0 -15px;
    padding: 0;
}

#lc-navbar li {
    list-style: none;
    position: relative;
}

#lc-navbar .dropdown-header {
  padding: 3px 10px;
}

#lc-navbar-ul > li {
    float: left;
    height: 50px;
    margin-right: 5px;
}

#lc-navbar .btn-default,
#lc-navbar .dropdown-toggle {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-size: 21px;
    height: 100%;
    margin: 0;
    outline: none;
    padding: 9px 10px;
    position: relative;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#lc-navbar .btn-default:hover,
#lc-navbar .dropdown-toggle:hover {
    color: #FFF;
}

#lc-navbar .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#lc-navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

#lc-navbar .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    #lc-navbar .navbar-toggle {
        display: none;
    }
}

#lc-navbar .notifications .glyphicon {
    top: 3px;
}

#lc-navbar .brand img {
    position: relative;
    top: -4px;
}

#lc-navbar .brand {
    padding: 4px 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #lc-navbar .brand a {
        background-image: url('../images/navbar_logo2x.png') !important;
        background-size: 155px;
    }
}

#lc-navbar .brand a {
    background-image: url('../images/navbar_logo.png');
    background-repeat: no-repeat;
    height: 42px;
    padding: 0;
    width: 160px;
    text-indent: -9999px;
}

#lc-navbar .brand a {
    background-position: 0 0;
    border: none;
}

@media (max-width: 767px) {
    #lc-navbar-ul > li:first-child {
        margin-left: 5px;
    }

    #lc-navbar .brand a {
        background-position: 0 -92px;
        width: 66px;
    }
}

#lc-navbar .profile {
    margin-right: 0;
}

#lc-navbar .profile .dropdown-menu {
    width: auto;
}

#lc-navbar .profile-card .profile-username {
    float: left;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 5px;
    max-width: 500px;
    overflow: hidden;
}

@media (max-width: 991px) {
    #lc-navbar .profile-card .profile-username {
        display: none;
    }
}

#lc-navbar .profile-card .profile-picture-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

#lc-navbar .profile-card .profile-picture {
    min-width: 30px;
    max-height: 30px;
}

#lc-navbar .dropdown-menu {
    border-radius: 0;
    margin: 0;
}

#lc-navbar .media>.pull-left {
  padding-right: 10px;
}

#lc-navbar .dropdown-menu .none {
    margin: 10px;
}

#lc-navbar .dropdown-menu {
    background-color: #FFF!important;
    width: 430px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 0;
    list-style: none;
    font-size: 14px;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

#lc-navbar .open > .dropdown-menu {
    display: block;
}

#lc-navbar .dropdown-menu li a {
    display: block;
    /*padding: 5px 20px;*/
}

/*#lc-navbar .dropdown-menu li a:hover {
    background-color: #F5F5F5;
    background-image: -webkit-linear-gradient(top,#F5F5F5 0,#E8E8E8 100%);
    background-image: linear-gradient(to bottom,#F5F5F5 0,#E8E8E8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-color: #E8E8E8;
}*/

#lc-navbar .dropdown-menu .btn-more {
    color: #FFF;
    padding: 6px 12px;
}

#lc-navbar .dropdown-menu .btn-more:hover {
    background-color: #31B0D5;
    border-color: #269ABC;
    background-image: none;
}

@media (max-width: 767px) {
    #lc-navbar-ul > li {
        position: static;
    }

    #lc-navbar .dropdown-menu,
    #lc-navbar .profile .dropdown-menu {
        width: 100%;
    }
}

#lc-navbar .glyphicon {
    position: relative;
}

#lc-navbar .glyphicon .label {
    background-color: #D9534F;
    font-size: 9px;
    position: absolute;
    display: inline;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 43%;
    top: 0;
    right: 20px;
}

#lc-navbar .menu-item {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

#lc-navbar .menu-item:hover {
  background: none;
  background-color: #E2EFDE;
  cursor: pointer;
}

/* Apps */
#lc-navbar .app .media {
  padding: 10px;
}

#lc-navbar .app .media a {
  padding: 0;
}

#lc-navbar .app a:hover {
  background-image: none;
}


#lc-navbar .notifications li a {
    border-bottom: solid 1px #CCC;
}

.notification-extreme {
    background-image: none;
    border-radius: 0;
    padding: 10px;
}

#external .notification-extreme.alert {
    margin-bottom: 0;
}
.navbar-scrollspy-notification .tab-content, .navbar-scrollspy-app {
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
}

#navbarUnread {
  margin-top: 0;
}

#navbarUnread .notification {
  background-color: #FFF;
  cursor: pointer;
  border-bottom: solid 1px #CCC;
  font-size: 12px;
  padding: 15px 10px;
}

#navbarUnread .notification:hover {
  background-color: #E2EFDE;
}

#navbarUnread .client-name {
  margin: 5px 0 0;
}

#navbarUnread .media-heading {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

#lc-navbar .impersonation {
    padding: 14px 0;
    margin-left: 10px;
}

#lc-navbar .impersonation .impersonation-username {
    background: transparent;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    color: #f5f5f5;
    padding: 0 0 0 3px;
    width: 95px;
}
