#inbox-detail .tab-content {
  border-bottom: solid 1px #DDD;
}

#inbox-detail .notification-read {
  background-color: #F5F5F5 !important;
  color: #222222;
  border: solid 1px #DDD;
  border-bottom: none;
  padding:20px 0;
}

#inbox-detail .notification-unread {
  /*background: none repeat scroll 0 0 rgba(243, 243, 243, 0.85) !important;*/
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
  color: #222222;
  border: solid 1px #B6B6B6;
  padding:20px 0;
}

#inbox-detail .notification-unread + .notification-unread {
  border-top: none;
}

#inbox-detail .notification {
  cursor: pointer;
  font-size: 13px;
  padding: 15px 10px;
}

#inbox-detail .notification:hover {
  background-color: #E2EFDE!important;
}

#inbox-detail .notification .client-name {
  margin: 5px 0 0;
}

#inbox-detail .notification .media-heading {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.notification-sidebar-main-img {
  color: #696969;
  display: inline-block;
  line-height: normal;
  font-size: 30px;
  position: absolute;
  left: 10px;
  text-align: center;
  height: 32px;
  width: 32px;
}