{% extends "::base.html.twig" %}

{% block title %}LoginCidadaoCoreBundle:AccountRecoveryData:edit{% endblock %}

{% block body %}
    <h1>Welcome to the AccountRecoveryData:edit page</h1>

    {{ form_start(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
