{% extends "::base.html.twig" %}

{% block title %}LoginCidadaoCoreBundle:InvalidateSessions:invalidate{% endblock %}

{% block body %}
<h1>Welcome to the InvalidateSessions:invalidate page</h1>
{% endblock %}
