{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block panel_body_class %}nfg-unavailable{% endblock %}

{% block panel_body %}
    <h1>{{ 'nfg.unavailable.title' | trans }}</h1>

    <p>{{ 'nfg.unavailable.body' | trans }}</p>
{% endblock %}
