<div class="row">
    <div class="col-md-5 left-box">
        {% block left %}
            <div class="box box-register">
                {{ include('LoginCidadaoCoreBundle::common.register.html.twig') }}
            </div>
        {% endblock %}
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5 right-box">
        {% block right %}
            <div class="box">
                {{ include('LoginCidadaoCoreBundle::common.login.html.twig') }}
            </div>
        {% endblock %}
    </div>
</div>
