framework:
    session:
        handler_id: session.handler.memcached

doctrine:
    orm:
        metadata_cache_driver:
            type:   memcached
            host:   %memcached_host%
            port:   %memcached_port%
            namespace: '%memcached_prefix%'
        query_cache_driver:
            type:   memcached
            host:   %memcached_host%
            port:   %memcached_port%
            namespace: '%memcached_prefix%'
        result_cache_driver:
            type:   memcached
            host:   %memcached_host%
            port:   %memcached_port%
            namespace: '%memcached_prefix%'

services:
    session.memcached:
        class: Memcached
        arguments:
            persistent_id: %session_prefix%
        calls:
            - [ addServer, [ %memcached_host%, %memcached_port% ]]

    session.handler.memcached:
        class: Symfony\Component\HttpFoundation\Session\Storage\Handler\MemcachedSessionHandler
        arguments:
            - "@session.memcached"
            - { prefix: %session_prefix%, expiretime: %session_lifetime% }

    memcached:
        class: Memcached
        calls:
            - [ addServer, [ '%memcached_host%', '%memcached_port%' ]]

    cache:
        class: Doctrine\Common\Cache\MemcachedCache
        calls:
            - [setMemcached, ['@memcached']]
            - [setNamespace, ['%memcached_prefix%']]

liip_monitor:
    checks:
        memcache:
            main:
                host: %memcached_host%
                port: %memcached_port%
