parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    memcached_host: 127.0.0.1
    memcached_port: 11211
    session_prefix: lc_sess_
    session_lifetime: 86400

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    web_profiler_toolbar: true

    facebook_app_id: facebook_app_id_here
    facebook_app_secret: facebook_app_secret_here
    facebook_app_url: facebook_app_url
    facebook_app_this_url: "https://%site_domain%"
    facebook_app_scope: [email, user_about_me, user_birthday, user_location]

    twitter_app_key:    twitter_app_key_goes_here
    twitter_app_secret: twitter_app_secret_here

    http_proxy:
        type: HTTP
        host: proxy.procergs.reders
        port: 3128
        auth: 'login:senha'

    site_domain: meu.rs.gov.br
    mailer_sender_mail: ~
    mailer_sender_name: ~
    recaptcha_public_key: ~
    recaptcha_private_key: ~
    # This must be compatible with strtotime()
    registration.cpf.empty_time: '+1 month'
    # Compatible with strtotime() but without + and - sign
    registration.email.unconfirmed_time: '1 day'
    brute_force_threshold: 4

    background_picture.author: 'Miriam Cardoso de Souza'
    background_picture.link: 'http://www.flickr.com/photos/admiriam/10390118624/'
    mailer_receiver_mail: ~
    nfg_ws_url: ~
    soe_organization: ~
    soe_username: ~
    soe_password: ~
    nfg_url_auth: ~
    nfg_url_login: ~
    nfg_hmac_secret: ~

    user_profile_ftp_host: ftp.host
    user_profile_ftp_username: ftp_username
    user_profile_ftp_password: ftp_password
    user_profile_ftp_directory: /ftp/path/to/web/uploads/profile-pictures
    tre_search_link: 'http://www.tse.jus.br/eleitor/servicos/titulo-e-local-de-votacao/consulta-por-nome'
    uri_root: ~
