parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    facebook_app_id: facebook_app_id_here
    facebook_app_secret: facebook_app_secret_here
    facebook_app_url: facebook_app_url
    facebook_app_this_url: "https://%site_domain%"

    http_proxy: ~

    site_domain: meu.rs.gov.br
