{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}
{% set form1 = lc_getForm() %}
{% set form = lc_getFormFactory() %}

<div class="row">
    <div class="col-xs-12 text-center header-shadows">
        <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
        <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
    </div>
</div>


<div class="row">
    {% set common_row_class = 'lc-box col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3' %}
    {% set common_row_style = 'display: none;' %}    
    {% include "PROCERGSLoginCidadaoCoreBundle::common.register.html.twig" %}
    {% set common_row_style = '' %}
    {% include "PROCERGSLoginCidadaoCoreBundle::common.login.html.twig" %}
</div>
{% endblock %}

{% block credits %}
<div class="bg-credits">{% trans with { '%name%': background_helper.backgroundImage.author, '%link%': background_helper.backgroundImage.url } %}<a href="%link%">Background picture</a> by %name%{% endtrans %}</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

    {% stylesheets 'bundles/procergslogincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(function(){
	$("#register_request").click(function(event){
		$('#login-box').hide();
        $("#register-box").show();
    });
});
</script>
{% endblock %}