<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OpenID Connect Session Management op_iframe</title>
        <script src="https://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/sha256.js"></script>
        <script language="JavaScript" type="text/javascript">
            window.addEventListener("message", receiveMessage, false);
            var data = "24_pc6pnxp3pvkw4oco84gcgkc4wo4ok0cgswogg48gsc48ssk8c 5d67ca6132e8bd138ab4b969695d8589de9a74184dae65b27467ddc9728d76d8.e5108fff4abb553e041e09a4691498";
            console.log(validateSessionState(data, 'http://teste.com'));

            function validateSessionState(data, origin) {

                var client_id = data.split(' ')[0];
                var session_state = data.split(' ')[1];
                var salt = session_state.split('.')[1];

                var opss = getCookieValue('PHPSESSID'); // from Cookie or use API access
                var ss = CryptoJS.SHA256(client_id + origin + opss + salt) + "." + salt;

                if (session_state === ss) {
                    return 'unchanged';
                } else {
                    return 'changed';
                }
            }

            function receiveMessage(e) {
                var origin = "{# client.metadata.client_uri #}"; // origin from client_id
                if (e.origin !== origin) {
                    return;
                }

                var stat = validateSessionState(e.data, e.origin);
                e.source.postMessage(stat, e.origin);
            }

            function getCookieValue(a, b) {
                b = document.cookie.match('(^|;)\\s*' + a + '\\s*=\\s*([^;]+)');
                return b ? b.pop() : '';
            }
        </script>
    </head>
    <body>
        This is OpenID Connect Session Management op_iframe URL.
    </body>
</html>
