/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.vertical-center-with-footer {
    min-height: 85% !important;
    min-height: 85vh !important;
}

footer {
    padding-top: 10px;
}

footer .logos {
    margin-bottom: 20px;
}

footer .logo-procergs {
    margin-top: 10px;
}
