{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}
{% block content %}
    <div id="statistics" class="content statistics-services clearfix">

        <h1>{{ 'statistics.userByService'|trans }}</h1>

        {% for item in data %}
            <div class="col-md-4">
                <div class="item">
                    <img src="{{ include('PROCERGSLoginCidadaoCoreBundle:Client:imageUrl.html.twig', { 'client': item.client }) }}" width="65" height="65" alt="" class="service-img center-block">
                    <div>{{ item.client.name | trans }}</div>
                    <div class="qty">{{ item.qty }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}