{% extends "LoginCidadaoCoreBundle::base.html.twig" %}

{% block body %}

    {% block notificationExtreme %}
        {{ include("LoginCidadaoCoreBundle::notification_extreme.html.twig", { columns: 'col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3' } ) }}
    {% endblock %}

    <div class="row">
        <div class="general-content col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 clearfix">
            <div class="well" id="oauth-box">
                {{ include("FOSOAuthServerBundle:Authorize:authorize_content.html.twig") }}
            </div>
        </div>
    </div>
{% endblock body %}
