{% extends "::base.html.twig" %}

{% block title %}LoginCidadaoCoreBundle:Person:revokeAuthorization{% endblock %}

{% block body %}
<h1>Welcome to the Person:revokeAuthorization page</h1>
{% endblock %}
