html, body { height: 100%; }
body>.container {
    /*min-height: 100%;
    margin-bottom: -36px;
    margin-top: 0;
    padding-bottom: 36px;
    padding-top: 0;*/
}


body {
    background-size: cover;
    background-position: center top;
}

.slogan {
    color: #FFF;
    margin-bottom: 50px;
}

#register-aside {
    background: rgba(241, 241, 241, 0.9);
    box-shadow: 1px 1px 1px #CCC;
    height: 460px;
    margin-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

#register-aside .title {
    font-weight: 600;
    margin: 0;
    text-align: center;
}

#register-aside .text {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
}

.lc-box {
    background-color: #f1f1f1;
    /*height: 460px;*/
    margin-bottom: 30px;
    padding: 0 0 20px;
}

.lc-box .form-content {
    padding: 0 24px;
}

.lc-box .title {
    background-color: #039936;
    color: #FFF;
    display: block;
    height: 50px;
    margin: 0;
    line-height: 50px;
}


.lc-box .form-group {
    margin: 30px 0;
    position: relative;
}

.lc-box .terms {
    clear: both;
    font-size: 11px;
    margin: 30px 0;
}

.lc-box .terms a {
    color: green;
    font-weight: 400;
}

.lc-box .btn-success {
    display: block;
    margin: 0 auto;
    width: 250px;
}

.lc-box .connect-box > div {
    margin: 25px 0;
    position: relative;
}

.lc-box .connect-box hr {
    border-color: #039935;
    margin:0 20px;
}

.lc-box .connect-box > div span {
    background-color: #f1f1f1;
    display: inline-block;
    left: 50%;
    margin-left: -15px;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 30px;
}

.lc-box .connect-box > p {
    color: #039935;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.lc-box .connect {
    box-shadow: 1px 1px #000;
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 30px;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lc-box .connect:hover {
    text-decoration: none;
}

.lc-box .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_login.png);
}

.lc-box .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_login.png);
}

.lc-box .nfg {
    background-position: 0;
    background-color: #EF9618;
    background-image: url(../../images/nfg_34.png);
}

#register-box .nfg {
  margin-top: 5px;
}

.lc-box .terms a {
    color: green;
    font-weight: 400;
}

.lc-box .flash-error {
  background-color: #E64442;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 24px 0;
  padding: 3px 12px;
}