html, body { height: 100%; }
body>.container {
    min-height: 100%;
    margin-bottom: -36px;
    margin-top: 0;
    padding-bottom: 36px;
    padding-top: 0;
}


body {
    background-image: url(../../images/wp.jpg);
    background-size: cover;
    background-position: center top;
}

.slogan {
    color: #000;
    margin-bottom: 50px;
}

#register-aside {
    background: rgba(241, 241, 241, 0.8);
    box-shadow: 1px 1px 1px #CCC;
    height: 460px;
    margin-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

#register-aside .title {
    font-weight: 600;
    margin: 0;
    text-align: center;
}

#register-aside .text {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
}

#register-box {
    background-color: #f1f1f1;
    /*height: 460px;*/
    margin-bottom: 30px;
    padding: 0;
}

#register-box .title {
    background-color: #039936;
    color: #FFF;
    display: block;
    height: 50px;
    margin: 0;
    line-height: 50px;
}


#register-box .form-group {
    margin: 30px 0;
}

#register-box input {
    background-color: #999999;
    border: none;
    border-radius: 0;
    color: #FFF;
    margin: 0 auto;
    width: 90%;
}

#register-box .has-error input {
    background-color: #cc3300;
}

#register-box .input-error {
    background-color: #fcccca;
    margin: 10px 0;
}

#register-box .input-error ul {
    color: #000;
    font-size: 13px;
    list-style-type: none;
    margin: 0;
    padding: 5px 20px;
}

#register-box .terms {
    clear: both;
    font-size: 11px;
    margin: 30px 0;
    padding: 0 20px;
}

#register-box .terms a {
    color: green;
    font-weight: 400;
}

#register-box .connect {
    box-shadow: 1px 1px #000;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    text-align: center;
    width: 100%;
}

#register-box .btn-success {
    margin-right: 20px;
}

#register-box .connect:hover {
    text-decoration: none;
}

#register-box .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_signin.png);
    background-repeat: no-repeat;
    margin-top: 10px;
}

#register-box .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_signin.png);
    background-repeat: no-repeat;
}

#register-box .terms a {
    color: green;
    font-weight: 400;
}

footer {
    margin-top: 0;
}

footer>div {
    background: rgba(0, 0, 0, .5);
}



@media (max-width: 767px) {
    #register-box {
        padding-bottom: 10px;
    }

    #register-box .btn-success, #register-box .connect {
        display: block;
        float: none!important;
        margin: 0 auto 10px;
        width: 98%;
    }
}