html, body { height: 100%; }
body>.container {
    /*min-height: 100%;
    margin-bottom: -36px;
    margin-top: 0;
    padding-bottom: 36px;
    padding-top: 0;*/
}


body {
    background-size: cover;
    background-position: center top;
}

.slogan {
    color: #FFF;
    margin-bottom: 50px;
}

#register-aside {
    background: rgba(241, 241, 241, 0.9);
    box-shadow: 1px 1px 1px #CCC;
    height: 460px;
    margin-bottom: 30px;
    padding: 30px 15px;
    position: relative;
}

#register-aside .title {
    font-weight: 600;
    margin: 0;
    text-align: center;
}

#register-aside .text {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0;
    text-align: center;
}

.lc-box {
    background-color: #f1f1f1;
    /*height: 460px;*/
    margin-bottom: 30px;
    padding: 0 0 20px;
}

.lc-box .form-content {
    padding: 0 24px;
}

.lc-box .title {
    background-color: #5DB35D;
    color: #FFF;
    display: block;
    height: 50px;
    margin: 0;
    line-height: 50px;
}


.lc-box .form-group {
    margin: 30px 0;
    position: relative;
}

.lc-box .terms {
    clear: both;
    font-size: 12px;
    margin: 30px 0;
}

.lc-box .terms a {
    color: green;
    font-weight: 400;
}

.lc-box .btn-success {
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 100%;
}

.lc-box .connect-box > div {
    margin: 25px 0;
    position: relative;
}

.lc-box .connect-box hr {
    border-color: #039935;
    margin:0 20px;
}

.lc-box .connect-box > div span {
    background-color: #f1f1f1;
    display: inline-block;
    left: 50%;
    margin-left: -15px;
    text-align: center;
    top: -10px;
    position: absolute;
    width: 30px;
}

.lc-box .connect-box > p {
    color: #039935;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.lc-box .connect {
    box-shadow: 1px 1px #000;
    color: #FFF;
    cursor: pointer;
    display: block;
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
    padding-left: 30px;
    text-align: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}

.lc-box .connect:hover {
    text-decoration: none;
}

.lc-box .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_login.png);
}

.lc-box .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_login.png);
}

.lc-box .google {
    background-color: #dd4b39;
    background-image: url(../../images/google_login.png);
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .lc-box .connect {
    height: 34px;
    line-height: 34px;
  }

  .lc-box .facebook {
    background-image: url(../../images/facebook_link.png);
  }

  .lc-box .twitter {
      background-image: url(../../images/twitter_link.png);
  }

  .lc-box .google {
    background-image: url(../../images/google_link.png);
  }

}

@media (min-width: 768px) {
    #register-box .connect.facebook {
        padding-left: 26px;
    }
}

@media (min-width: 992px) {
    #register-box .no-right-padding {
      padding-right: 0;
    }

    #register-box .connect.facebook {
        font-size: 13px;
        padding-left: 30px;
    }
}

#btn-login-back {
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: 18px;
}

.lc-box .terms a {
    color: green;
    font-weight: 400;
}

.lc-box .flash-error {
  background-color: #E64442;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 24px 0;
  padding: 3px 12px;
}

#login-box .remember-group {
  float: left;
  font-size: 12px;
  margin-top: 0;
  padding-left: 0;
}

#login-box .remember-group #remember_me {
  height: 18px;
  margin: 0 10px 0 -20px;
  width: 18px;
}

#login-box #resetting_request {
  font-size: 12px;
}

footer .content {
  background: none;
}

footer .inner-row {
  /*background-color: #222;*/
}










/* novo css */
.lc-main-title {
  margin-bottom: 50px;
  margin-top: 25px;
}

.lc-main-title h1,
.lc-main-title h2 {
  text-shadow: 1px 1px 1px #353535;
  color: #FFF;
}

.box {
  background-color: #F9F8F8;
}

.box-register {
  margin-bottom: 20px;
}

.box .flash-error {
  background-color: #E64442;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 3px 12px;
}

.box .title {
  background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
  background-color: #f5f5f5;

  color: #474747;
  display: block;
  font-size: 20px;
  height: 50px;
  margin: 0;
  line-height: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px #D8D8D8;
}

.box form {
  border: solid 1px #CCC;
  padding: 35px;
}

.box .terms {
  font-size: 11px;
}

@media (max-width: 767px) {
  footer {
    padding-left: 30px!important;
    padding-right: 30px!important;
  }
}
