.component.notifications .notification-image img {
    max-height: 64px;
    max-width: 64px;
}

.component.notifications a.media {
    display: block;
    padding: 5px;
}
.component.notifications a.media:hover {
    background: #f1f1f1;
}

.component.notifications .media-heading {
    white-space: nowrap !important;
    text-overflow: ellipsis;
    overflow: hidden;
}
.component.notifications.small .media-heading {
    font-size: 14px;
    font-weight: bold !important;
    color: #000;
}

.component.notifications.small .notification-image img {
    max-height: 35px;
    max-width: 35px;
}

.infinitegrid .notification {
    display: block;
    text-decoration: none;
    border: solid 1px #DDD;
    border-top: none;
    border-bottom: solid 1px #CCC;
    padding: 15px 10px;
    color: #222;
    font-size: 12px;

    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.infinitegrid .notification-unread {
    background: none repeat scroll 0 0 rgba(220, 240, 255, 0.9) !important;
}

.infinitegrid .notification-read {
    background-color: #f5f5f5;
}

.infinitegrid .notification:hover {
    background-color: #E2EFDE;
}

.infinitegrid .notification .client-img {
    background-color: #FFF;
    border: solid 1px #CCC;
    float: left;
    height: 50px;
    margin: 0 15px 5px 0;
    width: 50px ;
}

.infinitegrid .notification .client-name {
    margin: 5px 0;
}

.infinitegrid .notification .date {
    font-size: 11px;
}

.infinitegrid .notification .title {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.infinitegrid .notification-line {
    margin: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.infinitegrid .notification-open {
    margin: 20px 0;
}

.infinitegrid .notification-line.notification-open:nth-child(2) {
    margin-top: 0 !important;
}

.infinitegrid .notification-open .notification {
    border: 1px solid #050 !important;
    background-color: #5CB85C;
}

.infinitegrid .notification-open + .notification-line>.notification {
    border-top: solid 1px #DDD;
}

.infinitegrid .notification-content {
    display: none;
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}

.infinitegrid .notification-content h1 {
  margin-top: 0;
}

.infinitegrid .notification-open .notification-content {
    display: block;
    border-color: #050;
}

.infinitegrid .notification-open {
    display: block;
}

.infinitegrid .notification-open .notification-read .media-body {
  color: #FFF;
}

.notifications-settings td>label {
    padding: 0 15px;
}
