/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.badges-list .badge-phone_verified {
    background-color: #69b532;
    border: solid 1px #abd58c;
}

.badges-list .badge-phone_verified:before {
    content: "📱";
}
