{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block top_buttons %}
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-compact-text">
        {{ 'home.login.button' | trans }}
    </a>
{% endblock %}

{% block panel_body %}
    <h1>{{ 'resetting.request.title' | trans }}</h1>

    <p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
{% endblock %}
