/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.connect.nfg {
    background-image: url(../../images/nfg.png);
    background-color: #fff;
    background-size: 40px;
    cursor: pointer;
}
