@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

.font-a {
    font-family: arial, helvetica, sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-attachment: fixed;
}

body>.container {
    margin-bottom: 100px;
}

.header {
    background-color: rgba(200, 200, 200, .5);
}

.header img.logo {
    height: 65px;
}

img.desaturate {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.navbar-default {
    padding: 0 44px!important;
}

footer {
    color: #737373;
    display: block;
    position: relative;
    margin-top: -36px;
    min-height: 36px;
    clear: both;
    width: 100%;
}

footer,
footer>div{
    overflow: hidden;
}

footer>div {
    border-top: 1px solid #ebebeb;
    padding: 10px 0 0;
    font-size: .82em;
}

footer nav li {
    display: inline-block;
    margin-right: 10px;
}

footer nav li a {
    color: #000;
}

.footer-login li, .footer-login li a {
    color: #737373;
}

/* buttons */
.btn-green {
    border: 1px solid #360;
    background: #299a0b; /* Old browsers */
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background: -moz-linear-gradient(top, #299a0b 0%, #197c09 100%, #299a0b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#197c09), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #299a0b 0%,#197c09 100%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #299a0b 0%,#197c09 100%,#299a0b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #299a0b 0%,#197c09 100%,#299a0b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #299a0b 0%,#197c09 100%,#299a0b 100%); /* W3C */
    border: none;
    height: 29px;
    float: right;
    font-size: 13px;
    line-height: 29px;
    margin-top: 22px;
    padding: 0;
    vertical-align: middle;
    width: 64px;
}

.btn-green:hover {
    background: #0b891e; /* Old browsers */
    background: -moz-linear-gradient(top, #0b891e 0%, #0f7c09 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b891e), color-stop(100%,#0f7c09)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0b891e 0%,#0f7c09 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0b891e 0%,#0f7c09 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0b891e 0%,#0f7c09 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0b891e 0%,#0f7c09 100%); /* W3C */;
    color: #fff;
}