{% extends "::base.html.twig" %}

{% block title %}LoginCidadaoCoreBundle:Admin\ImpersonationReport:edit{% endblock %}

{% block body %}
<h1>Welcome to the Admin\ImpersonationReport:edit page</h1>
{% endblock %}
