{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="app-detail">

    <h3>Nota Físcal Gaúcha</h3>

    <div class="content">

        <div class="desc row">
            <div class="col-sm-4">
                <img src="http://placehold.it/220x220">
            </div>

            <div class="col-sm-7 col-sm-offset-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

        </div>

        <div class="msg">
            <p class="text-center">Este serviço já está ativo na sua conta do Login Cidadão</p>
            <button class="btn btn-success center-block">Ativar serviço</button>
        </div>

        <p style="margin-top:50px;">Este serviço utiliza os seguintes dados da sua conta do Login Cidadão</p>
        <ul class="permissions">
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
        </ul>
    </div>

</div>

{% endblock %}