{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="app-detail" class="content clearfix">

    <h3>{{ client.name }}</h3>

    <div class="content">

        <div class="desc row">
            <div class="col-sm-12 col-md-4">
                <img src="http://placehold.it/220x220">
            </div>

            <div class="col-sm-12 col-md-7 col-md-offset-1">
                <p>{{ client.description }}</p>
            </div>

        </div>

        <div class="msg">
            <p class="text-center">Este serviço já está ativo na sua conta do Login Cidadão</p>
            <button class="btn btn-success center-block">Ativar serviço</button>
            {# <button class="btn center-block">Desativar serviço</button> #}
        </div>

        <p style="margin-top:50px;">Este serviço utiliza os seguintes dados da sua conta do Login Cidadão</p>
        <ul class="permissions">
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
            <li>Primeiro nome</li>
        </ul>
    </div>

</div>

{% endblock %}