{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="applications" class="content clearfix">

    <h3>Serviços</h3>
    <div class="app-toggle clearfix">
        <button type="button" class="btn btn-default btn-lg active" data-display="grid">
          <span class="glyphicon glyphicon-th-large"></span>
        </button>
        <button type="button" class="btn btn-default btn-lg" data-display="list">
          <span class="glyphicon glyphicon-th-list"></span>
        </button>
    </div>

    <div class="list-group">
        <h4>Serviços ativos</h4>
        <ul class="grid clearfix">
        {% for auth in user.getAuthorizations %}

            <li>
                <img src="http://placehold.it/65x65" alt="" class="center-block">
                <h5 class="center-block text-center">{{ auth.client.name }}</h5>
                <a class="btn activated" role="button" href="{{ path('lc_apps_detail', {'clientId': auth.client.id}) }}">{% trans %}Activated{%  endtrans %}</a>
            </li>
        {% endfor %}
        </ul>

        <h4>Demais serviços</h4>
        <ul class="grid clearfix">
            {% for client in apps %}
                <li>
                    <img src="http://placehold.it/65x65" alt="" class="center-block">
                    <h5 class="center-block text-center">{{ client.name }}</h5>
                    <a class="btn deactivated" role="button" href="{{ path('lc_apps_detail', {'clientId': client.id}) }}">{% trans %}Deactivated{%  endtrans %}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}