{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% trans_default_domain 'FOSUserBundle' %}

    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>

{% endblock body %}
