{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}
    <div class='col-md-7 col-lg-6'>
        {% trans_default_domain 'FOSUserBundle' %}

        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

            {% if invalid_username is defined %}
                <p class="bg-danger">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="username" required="required" />
            </div>

            <div>
                <input class='btn btn-success btn-sm pull-right' type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>

        </form>
    </div>
{% endblock %}