{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}
<h1>{% trans %}We're almost done!{% endtrans %}</h1>
<p>{% trans %}Your account is created, but we recommend you choose a better username.{% endtrans %}</p>
<p>{% trans %}Your username will be used to quickly refer to yourself on Citizen's Login, just like Twitter's @ replies.{% endtrans %}</p>

<label for="username">{{ 'Username:' | trans }}</label>
<input type="text" id="username" name="username">
<button type="submit" class="btn btn-success">{{'Save'|trans}}</button>

<h2>{% trans %}Since you're here...{% endtrans %}</h2>
<p>{% trans %}Wouldn't you like to define a password so that you can login using your username and password as well?{% endtrans %}</p>

<label for="password">{% trans %}If so, type in your password here:{% endtrans %}</label>
<input type="text" id="password" name="password">

<label for="password_confirm">{% trans %}And then confirm it here:{% endtrans %}</label>
<input type="text" id="password_confirm" name="password_confirm">

<button type="submit" class="btn btn-success">{% trans %}Save username and password{% endtrans %}</button>
{% endblock %}
