{% block infiniteView %}
    <div class="infinite-view">
        {% block infiniteView_items %}
            <ul>
                {% for item in infiniteView %}
                    {{ include('LoginCidadaoInfiniteScrollBundle:Fragment:item.html.twig', { 'item': item }) }}
                {% endfor %}
            </ul>
        {% endblock infiniteView_items %}

        {% block infiniteView_next %}
            {{ include('LoginCidadaoInfiniteScrollBundle:Fragment:next.html.twig', { 'infiniteView': infiniteView }) }}
        {% endblock infiniteView_next %}
    </div>
{% endblock infiniteView %}
