{% extends 'PROCERGSLoginCidadaoUIBundle::base.loggedIn.html.twig' %}

{% block body %}
<h1 class='text-center'>Crie seu Login Cidadão</h1>

<section id="sign-in">
    <aside>
        <h4>Com apenas um cadastro</h4>
        <p>Acesse a todos os serviços oferecidos pelo Governo do Estado</p>
    </aside>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
    </form>
</section>
{% endblock %}