parameters:
    validation.handler.class: LoginCidadao\ValidationControlBundle\Handler\ValidationHandler
    validation.idcard.validator.class: LoginCidadao\ValidationControlBundle\Validator\Constraints\IdCardValidator

services:
    validation.handler:
        class: %validation.handler.class%
        lazy: true
        arguments: [ "@event_dispatcher" ]

    validation.idcard.validator:
        class: %validation.idcard.validator.class%
        lazy: true
        arguments: [ "@validation.handler" ]
        tags:
            - { name: validator.constraint_validator, alias: validation.idcard.validator }
