{% extends "PROCERGSLoginCidadaoCoreBundle:Notification:base.html.twig" %}
{% block content %}
<div id="inbox-detail" class="content app-admin clearfix">
  {% if (app.request.query.get('mode') is not defined) or (app.request.query.get('mode') == 0) %}
      {% include "PROCERGSLoginCidadaoCoreBundle:Notification:single.html.twig" %}
    {% else %}
      {% include "PROCERGSLoginCidadaoCoreBundle:Notification:gridPri.html.twig" %}
  {% endif %}
</div>
<div id="notificationreader" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ 'notification'|trans }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ 'Notifications'|trans }}</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

