{% extends "PROCERGSLoginCidadaoCoreBundle:Notification:base.html.twig" %}
{% block content %}
<div id="inbox-detail" class="content app-admin clearfix">
	{% if (app.request.query.get('mode') is not defined) or (app.request.query.get('mode') == 0) %}
	    {{ render(controller("PROCERGSLoginCidadaoCoreBundle:Notification:gridFull", 
		    { 
		    'page' :app.request.query.get('page'),
		    'client' :app.request.query.get('client'),
		    'mode' :app.request.query.get('mode'),
		    'confignotcli' : app.request.query.get('confignotcli')
		    } 
	    )) }}
    {% else %}
    	{{ render(controller("PROCERGSLoginCidadaoCoreBundle:Notification:gridPri", 
		    { 
		    'page' :app.request.query.get('page'),
		    'client' :app.request.query.get('client'),
		    'mode' :app.request.query.get('mode'),
		    'confignotcli' : app.request.query.get('confignotcli')
		    }
    	)) }}
	{% endif %}
</div>
<div id="notificationreader" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ 'notification'|trans }}" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		</div>
	</div>
</div>
<style>
.notification-read {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
    color: #222222;
    border: 5px groove #98bf21;
    padding:3px;   
}
.notification-unread {
    /*background: none repeat scroll 0 0 rgba(243, 243, 243, 0.85) !important;*/
    background: none repeat scroll 0 0 rgba(161, 178, 210, 0.62) !important;
    color: #222222;
    border: 5px groove #98bf21;
    padding:3px;   
}
</style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script >    
    $(document).ready(function() {
		$(document).on('click', '#inbox-detail .common-grid-results a.edit-grid',  function() {
			var self = $(this);
			var url = self.attr('data-href');
			Pwindow({
				id : 'notificationreader',
				url : url,
				success : function(data, textStatus, jqXHR) {
					if (data) {
						self.parent().parent().removeClass('notification-unread').addClass('notification-read');						
					} 
					$('#notificationreader .modal-content').html(data);
				}
			});
		});    	
    	
		$('#grid-full .infinity-grid').infinitescroll({
	    	debug: true,
	        navSelector  : '.pagination',
	        nextSelector : '.pagination a:last',
	        itemSelector : '.row.common-grid-result',
	        contentSelector: '#page1',
	        bufferPx     : 200,
	        state : {
	        	currPage:0
	        },
	        loading: {	            
	            msg: $('<div>'),
	            img: null
	        }
	    },
	    function( newElements, data, url ) {
	    	var isLast = false;
	    	for (x in newElements) {
	    		if (isLast = newElements[x].classList.contains("row-last")) {
	    			break;
	    		}
	    	}
	    	if (!isLast) {
	    		$('#grid-full .infinity-grid .infinityscroll-next-button').show();
	    	}
	        window.console && console.log('context: ',this);
			window.console && console.log('returned: ', newElements);
	    });
	    $(window).unbind('.infscr');
	    $(document).on('click', '#grid-full .infinity-grid .infinityscroll-next-button' ,function(){
	    	$(this).hide();
	    	$('#grid-full').infinitescroll('retrieve');
	    	return false;
	    });
    });
</script>
{% endblock %}