{% extends "PROCERGSLoginCidadaoCoreBundle:Notification:base.html.twig" %}
{% block content %}
<div id="app-detail" class="content app-admin clearfix">
    {{ render(controller("PROCERGSLoginCidadaoCoreBundle:Notification:gridFull", 
    { 
    '_locale': app.request.locale, 
    '_route': app.request.attributes.get('_route'), 
    '_route_params' :app.request.attributes.get('_route_params'), 
    'start' :app.request.query.get('start'), 
    'lero': app.request 
    } )) }}
</div>
<style>
.notification-read {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9) !important;
    color: #222222;
    border: 5px groove #98bf21;
    padding:3px;   
}
.notification-unread {
    /*background: none repeat scroll 0 0 rgba(243, 243, 243, 0.85) !important;*/
    background: none repeat scroll 0 0 rgba(161, 178, 210, 0.62) !important;
    color: #222222;
    border: 5px groove #98bf21;
    padding:3px;   
}
</style>
{% endblock %} 