{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
<div id="notifications" class="inner-content">
{% if notifications is not empty %}
    <ul>
    {% for notification in notifications_helper.getUnread %}
        <li>
            <dl>
                <dt>From:</dt>
                <dd>{{ notification.client.name }}</dd>

                <dt>Title:
                <dd>{{ notification.title }}</dd>

                <dt>Short text:
                <dd>{{ notification.shortText }}</dd>

                <dt>Full text:
                <dd>{{ notification.text | striptags('<a>') | raw | nl2br  }}</dd>
            </dl>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans %}You don't have any notifications yet.{% endtrans %}</p>
{% endif %}
</div>

{% endblock %}