{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block content %}
    <div class="content addresses">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
            {% block addresses %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {% javascripts  '@PROCERGSLoginCidadaoCoreBundle/Resources/public/js/person.address.js' %}
<script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
