{% extends "PROCERGSLoginCidadaoCoreBundle:PersonAddress:base.html.twig" %}

{% block addresses %}
    {{ include("PROCERGSLoginCidadaoCoreBundle:PersonAddress:list.component.html.twig") }}
    <a href="{{ path('lc_person_addresses_new') }}#form" class="btn btn-success btn-block">{{ 'New Address' | trans }}</a>
{% endblock %}
