{% extends "::base.html.twig" %}

{% block title %}PROCERGSLoginCidadaoAPIBundle:NotificationCallbackController:getFailedByClient{% endblock %}

{% block body %}
<h1>Welcome to the NotificationCallbackController:getFailedByClient page</h1>
{% endblock %}
