{% extends 'LoginCidadaoCoreBundle:Exception:error.html.twig' %}

{% block panel_body %}
    <h2>¯\_(ツ)_/¯</h2>
    <h1>{{ 'error.404.title' | trans }}</h1>

    <p>{{ 'error.404.body' | trans }}</p>
{% endblock %}
