{% extends 'LoginCidadaoCoreBundle:Exception:error.html.twig' %}

{% block panel_body %}
    <h1>{{ 'error.400.title' | trans }}</h1>

    <p>{{ 'error.400.body' | trans }}</p>
    <p>{{ 'error.400.line2' | trans }}</p>
{% endblock %}
