{% extends 'LoginCidadaoCoreBundle::compact.base.html.twig' %}

{% block panel_body %}
    <h1>{{ 'error.generic.title' | trans }}</h1>

    <p>{{ 'error.generic.body' | trans({'%contact_url%': '#'}) | raw }}</p>
{% endblock %}
