{% if app.session.flashbag.peek('alert.unconfirmed.email') %}
    {% set flashMessage = app.session.flashbag.get('alert.unconfirmed.email') | first %}
    <div class="row limit-960">
        <div class="{{ columns }}">
            <div class="notification-extreme alert alert-danger alert-bar">
                {{ flashMessage | raw }}
            </div>
        </div>
    </div>
{% endif %}
