.common-grid-msg {
    margin: 20px;
}

.common-grid-results {
    /*margin: 10px 20px;*/
}

.common-grid-results dt:after {
    content: ':';
}

.common-grid-results dt,.common-grid-results dd {
    display: inline;
}

.common-grid-results .header {
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #333;
    background-color: #F5F5F5;
    border-color: #DDD;
    background-image: -webkit-linear-gradient(top,#F5F5F5 0,#E8E8E8 100%);
    background-image: linear-gradient(to bottom,#F5F5F5 0,#E8E8E8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    margin-left: 0;
    margin-right: 0;
}

.common-grid-results .common-grid-result:nth-child(2n+1) {
    /*background-color: #f9f9f9;*/
}

.common-grid-results .common-grid-result {
    background-color: #f0f0f0;
    margin-left: 0;
    margin-right: 0;
    /*margin-bottom: 20px;*/
    padding: 10px 0;
}
.common-grid-results .common-grid-result-no-result {
  display: none;
}
.common-grid-results .common-grid-result-no-result:only-child {
  display: block;
}

@media ( min-width : 992px) {
    .common-grid-results dt {
        display: none;
    }
    .common-grid-results .header {
        display: block;
        padding: 10px 0;
    }
    .common-grid-results .common-grid-result {
        margin-bottom: 0 !important;
    }
  .label-action-column-grid {
        display: none;
    }
}

.common-grid-results .panel-body {
  padding: 0 15px;
}

.infinitescroll-loading .text {
  display: none;
}

.infinitescroll-loading .ajax-loader {
  display: inline-block;
}