/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.form-group .help-block.input-error ul {
    padding-left: 1.5em;
    font-size: 12px;
}

form .form-error {
    border: 1px solid #a94442;
    border-radius: 4px;
    padding: 10px;
    color: #a94442;
    margin-bottom: 5px;
}

.switch-panel {
    margin-bottom: 35px;
    display: table;
    width: 100%;
}

.switch-panel .switch {
    width: 10%;
}

.switch-panel .switch-label {
    width: 90%;
}

.switch-panel .switch,
.switch-panel .switch-label {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.switch-panel.switch-mini .bootstrap-switch-mini {
    min-width: 55px;
}
