@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

*, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', arial;
    font-weight: 300;
}

.font-a {
    font-family: arial, helvetica, sans-serif;
}

html, body {
    height: 100%;
    background-color: transparent;
    overflow: auto;
}

html {
    background: #7d7e7d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


body {
    padding-top: 50px;
}

#lc-navbar {
    position: fixed !important;
    width: 100%;
    z-index: 9999;
    top: 0px;

    -webkit-box-shadow: 0 0px 28px -2px #000;
    box-shadow: 0 0px 28px -2px #000;
}

@media (max-width: 767px) {

    #lc-navbar {
        /*position: absolute!important;*/
    }
}

body>.container {
    margin-top: 30px;
}

a {
    color: green;
}

/* Adjusts navbar's offset. */
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 960px;
}

body>.container {
    /*min-height: 100%;
    margin-bottom: -36px;
    margin-top: -87px;
    padding-bottom: 36px;*/
    /*padding-top: 87px;*/
}

.header {
    background-color: rgba(200, 200, 200, .5);
}

.header img.logo {
    height: 65px;
}

img.desaturate {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%); /* Not yet supported in Gecko, Opera or IE */
    filter: url(resources.svg#desaturate); /* Gecko */
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
}

.navbar-collapse {
    max-height: none;
}

/* override boostrap */
.well {
    background: none;
    background-color: #F1F1F1;
    border-radius: 0;
}

.btn {
    background-image: none;
    border-radius:0;
}

.btn-wide {
    padding-left: 25px;
    padding-right: 25px;
}

.btn-default, .btn-success {
    /*background-color: #039935;
    border: solid 1px #039935;*/
    color: #FFF;
}

.btn-success:hover {
    /*background-color: #5cb85c;*/
}

.btn-default {
    background-color: #FFFFFF;
    color: #333333;
}

.list-group, .list-group-item {
    border-radius: 0 !important;
}

.panel .media-body {
    width: 100%;
}

footer {
    margin-top: 10px!important;
    clear: both;
}

@media (max-width: 767px) {
    footer .content {
        padding-left: 0;
        padding-right: 0;
    }

    footer .invisible {
        display: none;
    }
}

footer .logged {
    padding-left: 0;
    padding-right: 0;
}

footer h3 {
    color: #FFF;
    margin: 20px 0;
    text-shadow: 1px 1px 1px #353535;
}

footer ul {
    padding: 10px 0;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: #FFF;
}

footer a:hover {
    color: #5DB35D;
}

footer .social {
    margin-left: 40px;
    padding: 0;
    text-align: left;
    width: 200px;
}

footer .social li {
    display: inline-block;
    margin: 0 3px;
}

footer .social a {
    background-image: url(../images/social_icons.png);
    display: block;
    height: 30px;
    width: 35px;
}

footer .social .flickr a {
    background-position: 0 0;
}

footer .social .twitter a {
    background-position: -44px 0;
}

footer .social .facebook a {
    background-position: -85px 0;
}

footer .social .instagram a {
    background-position: -112px 0;
    left: -10px;
    position: relative;
}

footer .social .youtube a {
    background-position: -2px -40px;
}

footer .social .google a {
    background-position: -87px -38px;
    left: 5px;
    position: relative;
}

footer .copyright {
    /*border-top: solid 1px #666461;*/
    color: #FFF;
    padding: 10px 0;
    text-align: center;
}



.footer-login li, .footer-login li a {
    color: #737373;
}

.form-control {
    /*background-color: #999999;
    border: none;
    border-radius: 0;
    color: #FFF;*/
    border-radius: 0;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    /*background-color: #999999;
    cursor: not-allowed;
    opacity: 1;*/
}

.form-control:-moz-placeholder {
    color: #555;
}

.form-control::-moz-placeholder {
    color: #555;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #555;
}

.form-control::-webkit-input-placeholder {
    color: #555;
}

.panel-default>.panel-heading {
    border-radius: 0;
}

.progress-box .progress {
    background-color: #999999;
    background-image: none;
}

form .input-error {
    background-color: #E64442;
    background-image: none;
    color: #FFF !important;
    filter:none;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding: 3px 12px;
}

form .input-error:empty {
    padding: 0;
}

form .input-error ul {
    font-size: 12px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form .form-group .extra {
    display: block;
    margin-top: 5px;
}

form .form-control-feedback {
    display: none;
}

form .has-feedback .form-control-feedback {
    display: block;
}

form .has-feedback .sr-only ~ .form-control-feedback {
    top:0;
}

#fos_user_change_password_form_plainPassword > div {
    margin-bottom: 10px;
}

.general-content {
    background-color: #F1F1F1;
    box-shadow: 1px 1px 1px #CCCCCC;
    margin-bottom: 30px;
    min-height: 250px;
    position: relative;
    padding: 10px 30px;
}

.general-content h4 {
    font-weight: bold;
}

.general-content .text {
    font-weight: 500;
    margin: 20px 0;
}

@media (max-width: 767px) {
    .general-content {
        margin: 0 15px;
        padding: 10px 15px;
    }

    .general-content .text {
        padding: 0;
    }
}

.header-shadows {
    color: #FFF;
    cursor: default;
    text-shadow: 1px 1px 1px #000;
}

/* custom captcha */
.captcha-container {
    overflow: hidden;
}

.captcha-container > div {
    margin-bottom: 20px;
}

#page-not-found {
    background: none repeat scroll 0 0 rgba(241, 241, 241, 0.4);
    box-shadow: 1px 1px 1px #CCCCCC;
    height: 250px;
    margin-bottom: 30px;
    padding-top: 30px;
    position: relative;
}
#page-not-found .title {
    font-size: 95px;
    font-weight: bold;
    margin-bottom: 30px;
}
#page-not-found .text {
    font-size: 20px;
}

.ajax-loader {
    background-image: url(../images/ajax-loader.gif);
    height: 16px;
    margin: 0 auto;
    width: 16px;
}

.modal-dialog {
    margin: 130px auto;
}

.modal-body h2 {
    margin: 20px 0;
}

.alert-bar {
    border-radius: 0;
}

@media (min-width: 768px) {
    .alert-bar {
        margin: 0 -15px 20px;
    }
}

#oauth-box {
    border: none;
    box-shadow: none;
    min-height: 400px;
}

#oauth-box .connect-diagram {
    margin: 30px 0;
}

#oauth-box .connect-diagram .glyphicon.glyphicon-chevron-right {
    font-size: 25px;
    margin: 24px 0;
}

#oauth-box .connect-diagram {
    font-size: 17px;
}

#oauth-box .buttons.row {
    margin-top: 20px;
}

.login-box {
    /*background-color: #F1F1F1;*/
    /*padding: 25px 20px;*/
    /*box-shadow: 4px 4px 8px #D0D0D0;
    border: 1px solid #D0D0D0;*/
}

.login-box h1 {
    margin: 0 0 15px;
}
.login-box h2 {
    font-size: 24px;
}

@media (max-width: 992px) {
    .login-box .login {
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    .login-box .registration, .login-box .login {
        /*border-right: 1px solid #c0c0c0;*/
        background-color: #FAFAFA;
        padding: 25px;
    }
}

.login-box .registration, .login-box .login {
    /*border-right: 1px solid #c0c0c0;*/
    background-color: #FAFAFA;
    padding: 25px;
}

.login-box .title {
    margin: 50px 0;
}

.connect-box {
    background-color: #FAFAFA;
    border: solid 1px #CCC;
    margin-top: 20px;
    padding: 0 20px 20px!important;
}

.connect-box h3 {
    color: #474747;
    text-shadow: 1px 1px 1px #D8D8D8;
}

.intl-tel-label {
    display: block;
}
