/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

html, body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #f9f9f9;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.vertical-center-with-footer {
    min-height: 90%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.panel-compact {
    width: 23em;
    -webkit-box-shadow: 3px 3px 10px 1px #ccc;
    box-shadow: 3px 3px 10px 1px #ccc;
}

.panel-compact > .panel-heading {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #033;
    color: #fff;
    display: table;
    width: 100%;
    min-height: 60px;
}

.panel-compact > .panel-heading .heading-container {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 270px) {
    .panel-compact > .panel-heading {
        display: block;
    }

    .panel-compact > .panel-heading .heading-container {
        display: block;
        text-align: center;
    }
}

.panel-compact .panel-heading img.logo {
    max-width: 115px;
    max-height: 50px;
}

.panel-compact .panel-body h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.panel-compact .panel-body p.text-center {
    text-align: center;
}
.panel-compact .panel-body p.text-right {
    text-align: right;
}

.panel-compact > .panel-footer {
    background-color: transparent;
}

footer {
    border-top: 1px solid #e8e8e8;
    background-color: #fff;
    padding-top: 30px;
}

footer ul {
    padding: 0;
}

footer ul.dashed {
    list-style-type: none;
}

footer ul.dashed > li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.dashed.no-first > li:first-child:before {
    content: none;
}

footer ul.dashed > li:before {
    content: "- ";
    margin-right: 5px;
}

.btn.btn-compact-text {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}

.btn-outline {
    background: none !important;
    text-shadow: none !important;
    outline: none !important;
}
.btn-outline.btn-danger {
    color: #ac0000;
    border-width: 2px;
    border-color: #ac0000;
}

.error-page h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

form .error {
    color: #ac0000;
}

.intl-tel-label {
    display: block;
}
