/*
 * This file is part of the login-cidadao project or it's bundles.
 *
 * (c) Guilherme Donato <guilhermednt on github>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

html, body {
    background-color: #f9f9f9;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.panel-compact {
    width: 23em;
    -webkit-box-shadow: 3px 3px 10px 1px #ccc;
    box-shadow: 3px 3px 10px 1px #ccc;
}

.panel-compact > .panel-heading {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #033;
    color: #fff;
    display: table;
    width: 100%;
    min-height: 60px;
}

.panel-compact > .panel-heading .heading-container {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 270px) {
    .panel-compact > .panel-heading {
        display: block;
    }

    .panel-compact > .panel-heading .heading-container {
        display: block;
        text-align: center;
    }
}

.panel-compact .panel-heading img.logo {
    max-width: 115px;
    max-height: 50px;
}

.panel-compact .panel-body h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

.panel-compact .panel-body p {
    text-align: justify;
}

.panel-compact > .panel-footer {
    background-color: transparent;
}

footer ul.dashed {
    list-style-type: none;
}

footer ul.dashed > li {
    display: inline-block;
    margin-right: 5px;
}

footer ul.dashed.no-first > li:first-child:before {
    content: none;
}

footer ul.dashed > li:before {
    content: "- ";
    margin-right: 5px;
}

.btn.btn-compact-text {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}
