{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 text-center header-shadows">
            <h1>{% trans %}Citizen's Login{% endtrans %}</h1>
            <h2 class="slogan hidden-xs">{% trans %}One account. The entire Government.{% endtrans %}</h2>
        </div>
    </div>

    <div class="row">
        <div id="page-not-found" class="col-xs-12 col-md-12 text-center">
            <h3 class="title">{% trans %}Ops!{% endtrans %}</h3>
            <p class="text">{% trans %}Page not found.{% endtrans %}</p>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
{{ parent() }}
    {% stylesheets 'bundles/procergslogincidadaocore/css/home/*.css' filter='cssrewrite' filter='?uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}