{% extends 'PROCERGSLoginCidadaoCoreBundle::base.html.twig' %}

{% block header %}
<header><h3>Login Cidadão</h3></header>
{% endblock %}


{% block stylesheets %}
{{ parent() }}

{% stylesheets 'bundles/procergslogincidadaocore/css/bootstrap.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 'bundles/procergslogincidadaocore/css/general.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% stylesheets 'bundles/procergslogincidadaocore/css/popup/popup.css' filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block footer %}
{% endblock %}