<div class="custom-recaptcha">
<div class="recaptcha-widget recaptcha_nothad_incorrect_sol recaptcha_isnot_showing_audio " id="recaptcha_widget">
  <div id="recaptcha_image" style="width: 300px; height: 57px;"><img width="300" height="57" src="https://www.google.com/recaptcha/api/image?c=03AHJ_Vut-c85L1BkH5uycd47U516T5bdDhAn_-JmsqnryL08rKyv_M6PTjH9reR11msy6ePo5NgC1DbcJQuWSSVrOrxulvxVlgunyDVqIqs1QvVbMjk6zNRiPVEv9t_2tee39wDIIeZiDEcuySZ3EG8Mms9DhlHaZMHmKQre7Im8JHxGxLcPEIOxqMQfyut2UU-0jMYX-jUTV" alt="Imagem de desafio reCAPTCHA" id="recaptcha_challenge_image"></div>
  <div class="recaptcha-main">
  <label>
  <strong>
  <span class="recaptcha_only_if_image" id="recaptcha_instructions_image">
  Digite o texto:
  </span>
  <span class="recaptcha_only_if_audio" id="recaptcha_instructions_audio">
  Digite o que você ouve:
  </span>
  </strong>
  <span id="recaptcha_challenge_field_holder" style="display: none;"></span><input type="text" name="recaptcha_response_field" id="recaptcha_response_field" autocomplete="off" class="">
  </label>
  <div class="recaptcha-buttons">
  <a title="Obter um novo desafio" href="javascript:Recaptcha.reload()" id="recaptcha_reload_btn">
  <span>
  Obter um novo desafio
  </span>
  </a>
  <a title="Obter um desafio de áudio" href="javascript:Recaptcha.switch_type('audio');" class="recaptcha_only_if_image" id="recaptcha_switch_audio_btn">
  <span>
  Obter um desafio de áudio "
  </span>
  </a>
  <a title="Obter um desafio visual" href="javascript:Recaptcha.switch_type('image');" class="recaptcha_only_if_audio" id="recaptcha_switch_img_btn">
  <span>
  Obter um desafio visual
  </span>
  </a>
  <a title="Ajuda" href="javascript:Recaptcha.showhelp()" id="recaptcha_whatsthis_btn">
  <span>Ajuda</span>
  </a>
  </div>
  </div>
</div>
</div>