<a tabindex="0" class="label label-success" role="button" data-toggle="popover" data-trigger="focus"
   title="{{ ('scope.' ~ scope) | trans }}"
   data-content="{{ ('scope_details.' ~ scope) | trans }}">
    {{ ('scope.' ~ scope) | trans }}
    <span class="glyphicon glyphicon-plus-sign" title="{{ 'What is this?' | trans }}"></span>
</a>&NegativeVeryThinSpace;
