<div class="navbar navbar-inverse">
    <div class="container">
        {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/brasaoRS.png' %}
        <img src="{{ asset_url }}" alt="{% trans %}Available services{% endtrans %}" class="pull-left">
        {% endimage %}

        <div class="pull-right">
            <li><a href="{{ path("fos_user_security_login") }}" class="btn btn-login btn-success navbar-btn">{{ 'Log in' | trans }}</a></li>
        </div>
    </div>
</div>
