<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#lc-navbar-collapse">
                <span class="sr-only">{% trans %}Toggle Navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
            </button>
            {% image '@PROCERGSLoginCidadaoCoreBundle/Resources/public/images/brasaoRS.png' %}
            <img src="{{ asset_url }}" alt="{% trans %}Available services{% endtrans %}" class="navbar-brand">
            {% endimage %}
        </div>

        <div class="collapse navbar-collapse" id="lc-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path("fos_user_security_login") }}" class="btn btn-success navbar-btn login">{{ 'Log in' | trans }}</a></li>
            </ul>
        </div>
    </div>
</div>
