body {
    background-color: #f0f0f0;
    background-image: none;
    font-family: 'Open Sans', arial;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
}

#login-box .title, #forgot-password-box .title{
    background-color: #039936;
    color: #FFF;
    display: block;
    height: 50px;
    margin: 0;
    line-height: 50px;
    padding-left: 15px;
}

#login-box form {
    /*padding: 20px;*/
}

#login-box form .form-content, #forgot-password-box  .form-content{
    padding: 20px;
}

#login-box form p, #forgot-password-box form p {
    margin-bottom: 30px;
}

#login-box form input {
    height: 35px;
    width: 350px
}

#login-box .forgot-password {
    color: #009141;
    font-size: 12px;
}

#login-box .buttons, #forgot-password-box .buttons {
    background-color: #d9d9d9;
    padding: 8px 10px;
}

#login-box .connect {
    box-shadow: 1px 1px #000;
    color: #FFF;
    cursor: pointer;
    display: block;
    line-height: 25px;
    min-width: 100px;
    padding-left: 25px;
    text-align: center;
    width: 100%;
}

#login-box .connect:hover {
    text-decoration: none;
}

#login-box .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_login.png);
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

#login-box .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_login.png);
    background-repeat: no-repeat;
}

#login-box .btn-success {
    width: 100%;
}

#forgot-password-box form input[type="submit"] {margin-top: 15px;}
#forgot-password-box .container{padding: 20px;}
#forgot-password-box form p.validate {padding: 10px 0;}
#forgot-password-box .btn-return {margin-top: 20px;}