html, body { height: 100%; }
body>.container {
    /*min-height: 100%;
    margin-bottom: -36px;
    margin-top: 0;
    padding-bottom: 36px;
    padding-top: 0;*/
}


body {
    background-image: url(../../images/wp.jpg);
    background-size: cover;
    background-position: center top;
}

.slogan {
    color: #FFF;
    margin-bottom: 50px;
}

#register-box {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 0;
}

#register-box .title {
    background-color: #039936;
    color: #FFF;
    display: block;
    height: 50px;
    margin: 0;
    line-height: 50px;
}


#register-box .form-group {
    margin: 30px 0;
}

#register-box input {
    margin: 0 auto;
    width: 90%;
}

#register-box .has-feedback .form-control-feedback {
    right: 12px;
    top:0;
}

#register-box .input-error {
    margin-top: 5px;
}

#register-box .terms {
    clear: both;
    font-size: 11px;
    margin: 30px 0;
    padding: 0 20px;
}

#register-box .terms a {
    color: green;
    font-weight: 400;
}

#register-box .connect {
    box-shadow: 1px 1px #000;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    text-align: center;
    width: 100%;
}

#register-box .btn-success {
    margin-right: 20px;
}

#register-box .connect:hover {
    text-decoration: none;
}

#register-box .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_signin.png);
    background-repeat: no-repeat;
    margin-top: 10px;
}

#register-box .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_signin.png);
    background-repeat: no-repeat;
}

#register-box .terms a {
    color: green;
    font-weight: 400;
}









#resetting_request {
    cursor: pointer;
}

/* Postal Code Search */
.cep-results dt:after {
    content: ':';
}
.cep-results dt,.cep-results dd {
    display: inline;
}
.cep-results .header {
    display: none;
}

.cep-results .cep-result:nth-child(2n+1) {
    background-color: #f9f9f9;
}
.cep-results .cep-result {
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .cep-results dt {
        display: none;
    }
    .cep-results .header {
        display: block;
    }
    .cep-results .cep-result {
        margin-bottom: 0 !important;
    }
}