{% extends "LoginCidadaoNotificationBundle::base.html.twig" %}
{% block content %}
    <div id="inbox-detail" class="content notifications clearfix">
        <h1 class="visible-xs">{{ 'Notifications' | trans }}</h1>

        {{ include("LoginCidadaoNotificationBundle:Notification:grid.html.twig") }}
    </div>
{% endblock %}
