body.no-scroll {
  overflow: hidden;
}
/* settings nav and content */
.settings-content {
  background-color: #F1F1F1;
}

@media (max-width: 768px) {
  .settings-content {
    margin: 0 15px;
  }

}

@media (min-width: 992px) {
  .settings-content {
    padding: 0 50px;
  }
}
.settings-content .content{
  min-height: 422px;
}

.settings-nav {
  background-color: #F1F1F1;
  position: fixed;
  top: 50px;
  bottom: 0;
  /*left: -200px;*/
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-y: auto;
}

@media (min-width: 768px) {
  .settings-nav {
    left: 0;
  }

}

.settings-nav li {
  margin: 0!important;
}

.settings-nav li a {
  border-radius: 0;
  line-height: 30px;
  padding: 12px;
}

.settings-nav li.active a,
.settings-nav li.active a:hover,
.settings-nav li a.active,
.settings-nav li a.active:hover {
  /*background-color: #009933;*/
  background-color: #5CB85C !important;
  color: #fff !important;
  cursor: default;
}

.settings-nav li a:hover, .settings-nav .open > a {
  background-image: none;
  background-color: #E2EFDE!important;
  color: #696969 !important;
}

.settings-nav li a > span {
  display: inline-block;
  line-height: normal;
  padding-left: 50px;
  word-break: break-word;
}

.settings-nav li a > .icon {
  color: #696969;
  display: inline-block;
  line-height: normal;
  font-size: 30px;
  margin-top: -18px;
  position: absolute;
  left: 5px;
  text-align: center;
  top: 50%;
  width: 20%;
}

.settings-nav li a > .icon-count {
  color: #696969;
  line-height: normal;
  font-size: 30px;
  margin-top: 5px;
  padding-left: 50px;
  text-align: center;
}

.settings-nav li a > .icon-count .badge {
  float: right;
  padding-right: 18px;
  position: relative;
  margin-top: -29px;
}

.settings-nav li a > .icon-count .caret {
  float: left;
  margin-top: -2px;
  position: absolute;
  right: 3px;
  top: 50%
}

.settings-nav .dropdown-menu {
  width: 100%;
}

.settings-nav .submenu {
  background-color: #FFF;
  padding: 0;
}

.settings-nav .submenu a {
  display: block;
  padding: 0 18px;
}

.settings-nav .submenu a:hover {
  text-decoration: none;
}

.progress-box {
  background-color: #dddedc;
  margin-top: 15px;
}

.progress-box .progress {
  background-color: #999999;
  background-image: none;
  border-radius: 0 !important;
  height: 30px;
}

.progress-box .progress-bar {
  background-color: #ffd900;
  background-image: none;
  border-radius: 0 !important;
  color: #000;
  line-height: 30px;
}

.settings-content .content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.settings-content h1 {
  margin: 0 0 15px;
  font-size: 24px;
}

@media (min-width: 768px) {
  .settings-content .content {
    padding-top: 50px;
  }

  .settings-content h1 {
    margin: 15px 20px 10px;
  }

}

.settings-content .input-error ul {
  margin-left: 0;
}

.settings-content .form-bar {
  background-color: #F5F5F5;
  padding: 10px;
}

.settings-content .panel {
  border-radius: 0;
}

@media (max-width: 767px) {
  .settings-nav > .nav {
    max-width: 200px;
  }

  #toggle-settings-nav {
    color: #FFF;
    font-size: 22px;
    margin: 0;
  }

  .settings-nav {
    left: -200px;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .menu-open .settings-nav {
    left: 0;
  }

  .settings-content, footer .content, .alert-bar {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .menu-open .settings-content, .menu-open footer .content, .menu-open .alert-bar {
    -moz-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -o-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }

  .settings-content h3 {
    margin: 15px 20px 10px;
  }

  footer .content {
    background: none;
  }

  footer .inner-row {
    background-color: #222;
    margin: 0;
  }

}


/* profile page */
#profile-edit form {
  /*margin: 20px 60px;*/
}

#profile-edit .has-feedback .form-control {
  padding-right: 0;
}

.birthdate select {
  margin-right: 3px;
}

#profile-edit img {
  max-width: 100%;
}

#profile-edit .file-upload {
  max-height: 20px;
  color: #000;
}

#profile-edit .file-upload input[type="file"] {
  cursor: pointer;
  position: relative;
  top: -28px;
  visibility: hidden;
  width: 100%;
}

#profile-edit .file-upload .file-name {
  margin: 5px 0;
}

#profile-edit .connect {
  background-size: 34px;
  color: #FFF;
  display: inline-block;
  font-size: 13px;
  height: 34px;
  line-height: 34px;

  min-width: 250px;
  margin-bottom: 5px;
  max-width: 275px;
}

#profile-edit .connect .username {
  padding-left: 30px;
  padding-right: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#profile-edit .connect .unlink {
  color: #fff;
}
#profile-edit .connect .unlink:hover {
  color: #f55;
  text-shadow: 0px 0px 2px #f00;
}

#profile-edit .connect a:hover {
  text-decoration: none;
}

#profile-edit .connect.disabled {
  /*background-color: #999999;*/
  background-color: #696969;
}
#profile-edit .connect.disabled a {
  color: #fff;
}

#profile-edit .facebook {
  background-color: #576d94;
  background-image: url(../../images/facebook_link.png);
  background-repeat: no-repeat;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile-edit .twitter {
  background-color: #4baecd;
  background-image: url(../../images/twitter_link.png);
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile-edit .google {
  background-color: #dd4b39;
  background-image: url(../../images/btn_red.png);
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile-edit .nfg {
  background-color: #EF9618;
  background-image: url(../../images/nfg_34.png);
  background-repeat: no-repeat;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#profile-edit .social-networks .alert {
  font-size: 11px;
  background-image: none;
}
#profile-edit .social-networks .alert p.title {
  margin-bottom: 10px;
}

#profile-edit .unlink-confirmation {
  display: none;
}

.applications .service .status {
  clear: both;
}


.last-suggestions {
  padding: 0 15px 15px;
}

.last-suggestions .title {
  font-weight: bold;
}

.last-suggestions .label {
  font-size: 12px;
  margin: 2px;
  word-wrap: break-word;
  word-break: break-all;
  display: inline-block;
  white-space: normal;
  text-align: left;
}

.client-details h3 {
  margin-left: 0;
}

.client-details img {
  margin-bottom: 20px;
  max-height: 220px;
  max-width: 220px;
}

@media (max-width: 767px) {
  .client-details .client-desc {
    margin: 0 30px;
  }
}

.client-details .msg .app-status {
  margin-bottom: 0;
}

.client-details #app-activate {
  margin-top: 30px;
}

.client-details #deactivate-box {
  background-image: none;
  display: none;
  clear: both;
}

.client-details #deactivate-box form {
  display: inline-block;
}

.client-details .permissions {
  margin: 100px 0 0;
}

.client-details .permissions .label {
  font-size: 12px;
  margin-bottom: 3px;
  display: inline-block;
  padding: 5px;
}

#notifications ul {
  padding: 0 40px;
}

#notifications li {
  box-shadow: 0px 0px 1px #CCC;
  border-radius:0;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 5px;
  height: auto;
  padding: 15px;
  position: relative;
  width: 100%;
}

#notifications li:hover:before {
  background-color: #CCC;
  content:"";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

#notifications li.unread {
  background-color: #CCC;
}

#notifications li.read {
  background: none!important;
}

#notifications li .glyphicon-ok {
  color:#093;
}

#notifications li.unread .glyphicon-ok {
  color:#333;
}

#notifications li.level-3, #notifications li.level-3 a:hover, #notifications li.level-3:hover:before {
  background: #f2dede;
  content: none;
}

#notifications li.alert:before {
  background: none;
}

#notifications img {
  float: left;
  margin-right: 20px;
}

#notifications .box h4 {
  margin: 0 0 10px;
  padding: 0;
}

#notifications .gly-toggle, #notifications .gly-read, #notifications .loader {
  position: absolute;
  right: 10px;
  top: 10px;
}

#notifications .gly-read {
  right: 42px;
}

#notifications .loader {
  background-image: url(../../images/ajax-loader.gif);
  height: 16px;
  width: 16px;
}

#notifications .desc {
  display: none;
}

#notifications .empty {
  margin: 30px;
}

#fos_user_change_password_form_plainPassword ul {
  color: #a94442;
  padding-left: 0;
}

.fos_oauth_server_authorize .connect-diagram {
  margin: 30px 0;
}

.fos_oauth_server_authorize .connect-diagram .glyphicon.glyphicon-chevron-right {
  font-size: 25px;
  margin: 30px 0;
}

.fos_oauth_server_authorize .connect-diagram {
  font-size: 17px;
}

.fos_oauth_server_authorize .buttons.row {
  margin-top: 20px;
}

.app-admin .table-bordered, .app-admin .table-bordered td, .app-admin .table-bordered th {
  border-color: #000;
}

.app-admin .table-bordered th {
  border-bottom: none;
}

.app-admin .table-bordered .glyphicon {
  margin: 0 3px 3px 0;
}

.addresses.content .panel.remove-box {
  display: none;
}

.content.profile-edit h2.personal-info {
  font-size: 22px;
}

.content.profile-edit .media .profile-picture {
  max-height: 55px;
  max-width: 55px;
}

.content.profile-edit input[type=date] {
  display: block;
}

.content.profile-edit .picture-upload-box {
  display: none;
}
