body.no-scroll {
    overflow: hidden;
}
/* settings nav and content */
.settings-content {
    background-color: #F1F1F1;
    max-width: 960px;
    border: solid 1px #D0D0D0;
}

.limit-960>div {
    max-width: 960px;
}

@media (max-width: 768px) {
    .settings-content {
        margin: 0 15px;
    }

}

@media (min-width: 992px) {
    .settings-content {
        padding: 0 50px;
    }
}
.settings-content .content{
    min-height: 422px;
}

.settings-nav {
    background-color: #222;
    position: fixed;
    top: 50px;
    bottom: 0;
    /*left: -200px;*/
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-y: auto;
    max-width: 255px !important;
    box-shadow: 4px 4px 8px #2C2C2C;
}

@media (min-width: 768px) {
    .settings-nav {
        left: 0;
    }

}

.settings-nav li {
    margin: 0!important;
}

.settings-nav li a {
    border-radius: 0;
    color: #F1F1F1;
    line-height: 30px;
    padding: 12px;
}

.settings-nav li a:hover,
.settings-nav li a:focus,
.settings-nav li.active a,
.settings-nav li.active a:hover,
.settings-nav li a.active,
.settings-nav li a.active:hover {
    /*background-color: #009933;*/
    background-color: #5DB35D !important;
    color: #F1F1F1 !important;
}

/*.settings-nav li a:hover, .settings-nav .open > a {
    background-image: none;
    background-color: #E2EFDE!important;
    color: #696969 !important;
}*/

.settings-nav li a > span {
    display: inline-block;
    line-height: normal;
    padding-left: 50px;
    word-break: break-word;
}

.settings-nav li a > .icon {
    color: #F1F1F1;
    display: inline-block;
    line-height: normal;
    font-size: 30px;
    margin-top: -18px;
    position: absolute;
    left: 5px;
    text-align: center;
    top: 50%;
    width: 20%;
}

.settings-nav li a > .icon-count {
    color: #696969;
    line-height: normal;
    font-size: 30px;
    margin-top: 5px;
    padding-left: 50px;
    text-align: center;
}

.settings-nav li a > .icon-count .badge {
    float: right;
    padding-right: 18px;
    position: relative;
    margin-top: -29px;
}

.settings-nav li a > .icon-count .caret {
    float: left;
    margin-top: -2px;
    position: absolute;
    right: 3px;
    top: 50%
}

.settings-nav .dropdown-menu {
    width: 100%;
}

.settings-nav .submenu {
    padding: 0;
}

.settings-nav .submenu a {
    display: block;
    padding: 0 18px;
}

.settings-nav .submenu a:hover {
    text-decoration: none;
}

.progress-box {
    background-color: #dddedc;
    margin-top: 15px;
}

.progress-box .progress {
    background-color: #999999;
    background-image: none;
    border-radius: 0 !important;
    height: 30px;
}

.progress-box .progress-bar {
    background-color: #ffd900;
    background-image: none;
    border-radius: 0 !important;
    color: #000;
    line-height: 30px;
}

.settings-content .content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.settings-content h1 {
    margin: 0 0 15px;
    font-size: 24px;
}

@media (min-width: 768px) {
    .settings-content .content {
        padding-top: 50px;
    }

    .settings-content h1 {
        margin-top: -20px;
    }
}

.settings-content .input-error ul {
    margin-left: 0;
}

.settings-content .form-bar {
    background-color: #F5F5F5;
    padding: 10px;
}

.settings-content .panel {
    border-radius: 0;
}

@media (max-width: 767px) {
    .settings-nav > .nav {
        max-width: 200px;
    }

    #toggle-settings-nav {
        color: #FFF;
        font-size: 22px;
        margin: 0;
    }

    .settings-nav {
        left: -200px;

        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .menu-open .settings-nav {
        left: 0;
    }

    .menu-open .settings-nav.top {
        top: 0;
    }

    .settings-content, footer .content, .alert-bar {
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    }

    .menu-open .settings-content, .menu-open footer .content, .menu-open .alert-bar {
        -moz-transform: translateX(200px);
        -webkit-transform: translateX(200px);
        -o-transform: translateX(200px);
        -ms-transform: translateX(200px);
        transform: translateX(200px);
    }

    .settings-content h3 {
        margin: 15px 20px 10px;
    }

    footer .inner-row {
        margin: 0;
    }


}


/* profile page */
#profile-edit form {
    /*margin: 20px 60px;*/
}

#profile-edit .has-feedback .form-control {
    padding-right: 0;
}

.birthdate select {
    margin-right: 3px;
}

#profile-edit img {
    max-width: 100%;
}

#profile-edit .file-upload {
    color: #000;
}

#profile-edit .file-upload input[type="file"] {
    cursor: pointer;
    position: relative;
    top: -28px;
    visibility: hidden;
    width: 100%;
}

#profile-edit .btn-upload {
    margin-top: 5px;
}

#profile-edit .file-upload .file-name {
    margin: 5px 0;
}

#profile-edit .connect {
    background-size: 34px;
    color: #FFF;
    display: inline-block;
    font-size: 13px;
    height: 34px;
    line-height: 34px;

    min-width: 250px;
    margin-bottom: 5px;
    max-width: 275px;
}

#profile-edit .connect .username {
    padding-left: 30px;
    padding-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profile-edit .connect .unlink {
    color: #fff;
}
#profile-edit .connect .unlink:hover {
    color: #f55;
    text-shadow: 0px 0px 2px #f00;
}

#profile-edit .connect a:hover {
    text-decoration: none;
}

#profile-edit .connect.disabled {
    /*background-color: #999999;*/
    background-color: #696969;
}
#profile-edit .connect.disabled a {
    color: #fff;
}

#profile-edit .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_link.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile-edit .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_link.png);
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile-edit .google {
    background-color: #dd4b39;
    background-image: url(../../images/google_link.png);
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile-edit .social-networks .alert {
    font-size: 11px;
    background-image: none;
}
#profile-edit .social-networks .alert p.title {
    margin-bottom: 10px;
}

#profile-edit .unlink-confirmation {
    display: none;
}

#profile-edit .file-upload input[type=file] {
    display: none;
}

#profile-edit .file-upload .btn-upload,
#profile-edit .file-upload .form-group,
#profile-edit .file-upload .form-group .checkbox {
    margin-top: 0;
    margin-bottom: 0;
}

#profile-edit .file-upload .btn-facebook-profile-pic-preview {
    padding: 4px;
}

#profile-edit .file-upload .facebook-profile-pic-preview {
    max-height: 35.9px;
}

#profile-edit .file-upload .activity-desc {
    margin-top: 5px;
    font-size: 90%;
}

#profile-edit .file-upload .activity-desc .upload,
#profile-edit .file-upload .activity-desc .facebook-pic {
    display: none;
}

.applications .service:hover {
    background-color: #E2EFDE!important;
}

.applications .service .status {
    clear: both;
}

.service .link-detail {
    padding-left: 0;
}


.last-suggestions {
    padding: 0 15px 15px;
}

.last-suggestions .title {
    font-weight: bold;
}

.last-suggestions .label {
    font-size: 12px;
    margin: 2px;
    word-wrap: break-word;
    word-break: break-all;
    display: inline-block;
    white-space: normal;
    text-align: left;
}

.client-details h3 {
    margin: 0 0 10px;
}

.client-details img {
    margin-bottom: 20px;
    max-height: 220px;
    max-width: 220px;
}

@media (max-width: 767px) {
    .client-details .client-desc {
        margin: 0 30px;
    }
}

.client-details .msg .app-status {
    margin-bottom: 0;
}

.client-details #app-activate {
    margin-top: 30px;
}

.client-details #deactivate-box {
    background-image: none;
    display: none;
    clear: both;
}

.client-details #deactivate-box form {
    display: inline-block;
}

.client-details .permissions {
    margin: 100px 0 0;
}

.client-details .permissions .label {
    font-size: 12px;
    margin-bottom: 3px;
    display: inline-block;
    padding: 5px;
}

#notifications ul {
    padding: 0 40px;
}

#notifications li {
    box-shadow: 0px 0px 1px #CCC;
    border-radius:0;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    height: auto;
    padding: 15px;
    position: relative;
    width: 100%;
}

#notifications li:hover:before {
    background-color: #CCC;
    content:"";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

#notifications li.unread {
    background-color: #CCC;
}

#notifications li.read {
    background: none!important;
}

#notifications li .glyphicon-ok {
    color:#093;
}

#notifications li.unread .glyphicon-ok {
    color:#333;
}

#notifications li.level-3, #notifications li.level-3 a:hover, #notifications li.level-3:hover:before {
    background: #f2dede;
    content: none;
}

#notifications li.alert:before {
    background: none;
}

#notifications img {
    float: left;
    margin-right: 20px;
}

#notifications .box h4 {
    margin: 0 0 10px;
    padding: 0;
}

#notifications .gly-toggle, #notifications .gly-read, #notifications .loader {
    position: absolute;
    right: 10px;
    top: 10px;
}

#notifications .gly-read {
    right: 42px;
}

#notifications .loader {
    background-image: url(../../images/ajax-loader.gif);
    height: 16px;
    width: 16px;
}

#notifications .desc {
    display: none;
}

#notifications .empty {
    margin: 30px;
}

#fos_user_change_password_form_plainPassword ul {
    color: #a94442;
    padding-left: 0;
}

.app-admin .table-bordered, .app-admin .table-bordered td, .app-admin .table-bordered th {
    border-color: #000;
}

.app-admin .table-bordered th {
    border-bottom: none;
}

.app-admin .table-bordered .glyphicon {
    margin: 0 3px 3px 0;
}

.addresses.content .panel.remove-box {
    display: none;
}

.content.profile-edit h2.personal-info {
    font-size: 22px;
}

.content.profile-edit .media .profile-picture {
    max-height: 55px;
    max-width: 55px;
}

.content.profile-edit input[type=date] {
    display: block;
}

.content.profile-edit .picture-upload-box {
    display: none;
}

.id-card .confirm-removal {
    display: none;
}

.id-cards {
    padding-left: 25px;
}

.id-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 15px;
    max-width: 99%;
    min-height: 124px;
    background: #f5f5f5;
    -webkit-box-shadow: 3px 3px 9px 0 #ddd;
    box-shadow: 3px 3px 9px 0 #ddd;
}

.id-card.add-new {
    border-color: #428bca;
}
.id-card.add-new p {
    color: #428bca;
}
.id-card.add-new .id-card-state {
    color: #428bca;
}

.id-card-state {
    padding-top: 4px;
    padding-left: 10px;
    display: inline-block;
    width: 45px;
    height: 45px;
    font-family: monospace;
    font-size: 32px;
    font-weight: bold;
    color: #696969;
}

.id-card-details {
    padding: 15px;
}

dl.id-card-details {
    margin-bottom: 0;
}

.id-card-details dl {
    margin-bottom: 0;
}

.id-card-details dd {
    margin-bottom: 7px;
}

.id-card .media {
    margin-top: 0;
}

.id-card .media-left {
    min-width: 65px;
}

.id-card .btn-group {
    display: block;
    margin-left: 7px;
}

.id-card .btn-group :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.id-card .btn-group button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.id-card .confirm-removal {
    font-size: 12px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.id-card .confirm-removal .remove-box {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.id-card .confirm-removal .id-card-confirm-value
{
    margin-top: -5px;
    margin-bottom: 5px;
}

.id-card .confirm-removal .remove-box .panel-heading {
    height: 100%;
}

.id-card {
    position: relative;
}

label + .glyphicon-pencil {
    cursor: pointer;
    margin-left: 5px;
    margin-top: -3px;
}

#person_resume_form_type_roles label {
    float: left;
    width: 50%;
}

#person_resume_form_type_roles input[type='checkbox'] {
    float: right;
    width: 50%;
}

#statistics .item {
    background-color: #F9F9F9;
    color: #000;
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;
    text-align: center;
}

#statistics .item:hover {
    background-color: #E2EFDE;
}

#statistics .glyphicon, #statistics .service-img {
    display: block;
    font-size: 22px;
    margin-bottom: 8px;
}

#statistics .qty {
    font-size: 17px;
    font-weight: bold;
}

.statistics-badges .badge-box {
    margin-bottom: 30px;
}

.statistics-badges .badge-icon {
    margin-bottom: 10px!important;
    margin-top: 10px!important;
}

.statistics-badges .badge-title {
    text-align: center;
    word-wrap: break-word;
}

.statistics-badges .progress {
    margin-bottom: 5px;
    margin-top: 5px;
}

.statistics-badges .badge-single {
    padding-top: 25px;
}

.statistics-badges .badge-count {
    padding-left: 0;
    margin-top: 3px;
}

.statistics-badges .wrap {
    margin-bottom: 10px;
}

.statistics-badges .badge-progress {
    padding-left: 0;
}

@media (max-width: 767px) {

    .statistics-badges .badge-single {
        padding-top: 0;
    }

    .statistics-badges .progress {
        margin-top: 10px;
    }
}

.backup-codes {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.backup-codes .backup-code,
.backup-codes .backup-code s {
    font-family: monospace;
}

.backup-codes .backup-code s {
    color: #ccc;
}

.badges-list .media {
    margin-bottom: 30px;
}
.badges-list .badge-img {
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.badges-list .badge-icon {
    border-radius: 50%;
    box-shadow: inset 1px 2px 7px #FFF, 1px 1px 4px #CCC;
    color: #FFF;
    height: 60px;
    line-height: 54px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.badges-list .badge-icon:before {
    font-size: 22px;
    text-shadow: 1px 1px 2px #CCC;
}

.badges-list .locked .badge-icon {
    background-color: #CCC;
    border-color: #000;
    color: #CCC;
    opacity: 0.2;
}

.badges-list .locked .media-body {
    color: #CCC;
}

.badges-list .badge-has_cpf {
    background-color: #8DDAFC;
    border: solid 1px #5AB9DB;
}

.badges-list .badge-has_cpf:before {
    content: "CPF";
}

.badges-list .badge-valid_email {
    background-color: #FF7171;
    border: solid 1px #D58D8D;
}

.badges-list .badge-valid_email:before {
    content: "@";
    font-size: 30px;
}

.badges-list .badge-valid_id_card_rs {
    background-color: #599600;
    border: solid 1px #A0BBA6;
}

.badges-list .badge-valid_id_card_rs:before {
    content: "IGP"
}

#dashboard .profile-picture {
    margin-bottom: 15px;
    margin-right: 15px;
    max-width: 125px;
    max-height: 125px;
}

#dashboard .service-img, #dashboard .badge-icon {
    display: block;
    float: left;
    margin: 5px;
}

#dashboard .about .glyphicon {
    font-size: 14px;
    margin-right: 3px;
}

#dashboard .birthdate {
    margin-left: 19px;
    font-size: 11px;
    margin-top: -2px;
    margin-bottom: 5px;
}

#dashboard .notification {
    background: none repeat scroll 0 0 rgba(220, 240, 255, 0.9);
}

#dashboard .log-type {
    margin-right: 5px;
}

#dashboard .log-about {
    font-size: 11px;
}
