/* settings nav and content */
.settings-nav .nav, .settings-content .content{
    background-color: #dddedc;
    min-height: 300px;
}

@media (min-width: 768px) {
    .settings-nav {
        padding-left: 0;
    }

    .settings-content {
        padding-right: 0;
    }
}

.settings-nav li {
    margin: 12px 0;
}

.settings-nav li a {
    border-radius: 0;
    height: auto;
    padding: 20px 15px;
    position: relative;
}

.settings-nav li.active a, .settings-nav li.active a:hover {
    background-color: #009933;
    cursor: default;
}

.settings-nav li a:hover {
    background-color: #c7d6cb;
    color: #696969 !important;
}

.settings-nav li a span {
    color: #696969;
    display: inline-block;
    font-weight: 500;
    width: 85%;
}

.settings-nav li.active span, .settings-nav li.active a:hover span {
    color: #FFF;
}

.settings-nav li .bg {
    background-image: url('../../images/settings_nav_icons.png');
    display: block;
    margin-top: -15px;
    position: absolute;
    right: 8px;
    top: 50%;
}

.settings-nav .glyph>a {
    padding-right: 8px;
}

.settings-nav .glyph>a span {
    width: 100%;
    vertical-align: middle;
    line-height: 30px;
}

.settings-nav li .glyphicon {
    color: #696969;
    font-size: 30px;
}
.settings-nav li.active .glyphicon {
    color: #fff;
}

.settings-nav .username .bg {
    background-position: -3px -207px;
    height: 34px;
    right: 11px;
    width: 28px;
}

.settings-nav .username.active .bg {
    background-position: -42px -207px;
}

.settings-nav .password .bg {
    background-position: -6px -280px;
    height: 30px;
    right: 16px;
    width: 22px;
}

.settings-nav .password.active .bg {
    background-position: -45px -280px;
}

.settings-nav .notifications .glyphicon {
    right: 3px;
}

.settings-nav .settings .glyphicon {
    right: 5px;
}

.progress-box {
    background-color: #dddedc;
    margin-top: 15px;
}

.progress-box .progress {
    background-color: #999999;
    background-image: none;
    border-radius: 0 !important;
    height: 30px;
}

.progress-box .progress-bar {
    background-color: #ffd900;
    background-image: none;
    border-radius: 0 !important;
    color: #000;
    line-height: 30px;
}

.settings-content .content {
    padding-top: 20px;
}

.settings-content h3 {
    margin: 15px 30px 30px;
}

.settings-content h4 {
    margin: 10px 35px;
}

.settings-content .form-content {
    padding: 20px 60px;
}

.settings-content .input-error ul {
    margin-left: 0;
}

.settings-content .form-bar {
    background-color: #d9d9d9;
    padding: 10px;
}

@media (max-width: 767px) {

  #toggle-settings-nav {
    color: #FFF;
    font-size: 22px;
    margin: 0;
  }

  .settings-nav {
    padding: 0;
    position: absolute;
    z-index: 100;

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;

    -moz-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
  }

  .menu-open {
    position: relative;
  }

  .menu-open .settings-nav {
    display: block;

    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  .settings-content {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .menu-open .settings-content {
    -moz-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -o-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }

  .settings-content h3 {
      margin: 15px 20px 10px;
  }

  .settings-content .form-content {
      padding: 20px 20px;
  }

}


/* profile page */
#profile-edit form {
    /*margin: 20px 60px;*/
}

#profile-edit .has-feedback .form-control {
    padding-right: 0;
}

#profile-edit .birthdate select {
    margin-right: 3px;
}

#profile-edit img {
    max-width: 100%;
}

#profile-edit .file-upload {
    margin: 20px 0;
}

#profile-edit .file-upload input[type="file"] {
    cursor: pointer;
    position: relative;
    top: -28px;
    visibility: hidden;
    width: 100%;
}

#profile-edit .file-upload .file-name {
    margin: 5px 0;
}

#profile-edit .connect {
    background-size: 34px;
    color: #FFF;
    display: block;
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 5px;
}

#profile-edit .connect .username {
    padding-left: 20px;
    padding-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#profile-edit .connect .unlink {
    color: #fff;
}
#profile-edit .connect .unlink:hover {
    color: #f55;
    text-shadow: 0px 0px 2px #f00;
}

#profile-edit .connect:hover {
    text-decoration: none;
}

#profile-edit .connect.disabled {
    background-color: #999999;
}
#profile-edit .connect.disabled a {
    color: #fff;
}

#profile-edit .facebook {
    background-color: #576d94;
    background-image: url(../../images/facebook_link.png);
    background-repeat: no-repeat;
    margin-top: 10px;
}

#profile-edit .twitter {
    background-color: #4baecd;
    background-image: url(../../images/twitter_link.png);
    background-repeat: no-repeat;
}

#profile-edit .nfg {
    background-color: #EF9618;
    background-image: url(../../images/nfg_34.png);
    background-repeat: no-repeat;
}

#profile-edit .social-networks .alert {
    font-size: 11px;
    background-image: none;
}
#profile-edit .social-networks .alert p.title {
    margin-bottom: 10px;
}

#profile-edit .unlink-confirmation {
    display: none;
}

/* services/applications page */
#applications .app-toggle {
    margin-top: 5px;
    margin-right: 50px;
}

#applications .app-toggle .btn {
    background: none;
    border: none;
    box-shadow: none;
    float: right;
    font-size: 1.8em;
    padding: 8px;
    text-shadow: none;
}

#applications .app-toggle .active {
    opacity: 0.2
}

#applications ul {
    padding-right: 40px;
}

#applications .list-group {
    box-shadow: none;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
}

#applications h4 {
    margin-bottom: 20px;
}

#applications p.empty {
    margin-bottom: 30px;
    margin-left: 35px;
}

#applications li {
    background-color: #999999;
    color: #FFF;
    float: left;
    height: 175px;
    list-style-type: none;
    margin: 0 15px 30px 15px;
    width: 140px;
}

#applications li>a {
    display: block;
    padding-top: 14px;
}

#applications li a:hover {
    text-decoration: none;
}

#applications li .name {
    color: #FFF;
    font-size: 17px;
    height: 40px;
    line-height: 20px;
    margin: 10px 0;
    padding: 0 10px
}

#applications li .status {
    background-color: #696969;
    border-radius: 0;
    color: #FFF;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#applications li .activated {
    background-color: #009933;
}

#applications .list li {
    float: none;
    height: 35px;
    margin-left: 0;
    padding-left: 45px;
    position: relative;
    width: 100%;
}

#applications .list li>a {
    padding-top: 0;
}

#applications .list li img {
    background-color: #FFF;
    height: 45px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 45px;
}

#applications .list li .name {
    float: left;
    height: 100%;
    line-height: 35px;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    width: 80%;
}

#applications .list li .status {
    float: right;
    width: 20%;
}

#app-detail {
    padding: 20px 30px;
}

#app-detail h3 {
    margin-left: 0;
}

#app-detail img {
    margin-bottom: 20px;
    max-height: 220px;
    max-width: 220px;
}

#app-detail .msg p {
    color: #F56F6F;
    font-size: 20px;
    margin: 30px 0;
}

#app-detail .msg .activated{
    color: green;
}

#app-detail #deactivate-box {
    background-image: none;
    display: none;
}

#app-detail #deactivate-box form {
    display: inline-block;
}

.permissions {
    padding-left: 0;
}

.permissions li{
    color: green;
    font-weight: bold;
}

#app-detail .permissions .deny {
    color: #F56F6F;
}

#notifications ul {
    padding: 0 40px;
}

#notifications li {
    box-shadow: 0px 0px 1px #CCC;
    border-radius:0;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 5px;
    height: auto;
    padding: 15px;
    position: relative;
    width: 100%;
}

#notifications li:hover:before {
    background-color: #CCC;
    content:"";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
}

#notifications li.unread {
    background-color: #CCC;
}

#notifications li.read {
    background: none!important;
}

#notifications li .glyphicon-ok {
    color:#093;
}

#notifications li.unread .glyphicon-ok {
    color:#333;
}

#notifications li.level-3, #notifications li.level-3 a:hover, #notifications li.level-3:hover:before {
    background: #f2dede;
    content: none;
}

#notifications li.alert:before {
    background: none;
}

#notifications img {
    float: left;
    margin-right: 20px;
}

/*#notifications .box {
    float: left;
    width: 80%;
}*/

#notifications .box h4 {
    margin: 0 0 10px;
    padding: 0;
}

#notifications .gly-toggle, #notifications .gly-read, #notifications .loader {
    position: absolute;
    right: 10px;
    top: 10px;
}

#notifications .gly-read {
    right: 42px;
}

#notifications .loader {
    background-image: url(../../images/ajax-loader.gif);
    height: 16px;
    width: 16px;
}

#notifications .desc {
    display: none;
}

#notifications .empty {
    margin: 15px;
}


#fos_user_change_password_form_plainPassword ul {
    color: #a94442;
    padding-left: 0;
}

.fos_oauth_server_authorize .connect-diagram {
    margin: 30px 0;
}

.fos_oauth_server_authorize .connect-diagram .glyphicon.glyphicon-chevron-right {
    font-size: 25px;
    margin: 30px 0;
}

.fos_oauth_server_authorize .connect-diagram {
    font-size: 17px;
}

.fos_oauth_server_authorize .buttons.row {
    margin-top: 20px;
}

.app-admin .table-bordered, .app-admin .table-bordered td, .app-admin .table-bordered th {
    border-color: #000;
}

.app-admin .table-bordered th {
    border-bottom: none;
}

.app-admin .table-bordered .glyphicon {
    margin: 0 3px 3px 0;
}
