{% extends "PROCERGSLoginCidadaoCoreBundle:Admin:base.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-services">

    <h1 class="visible-xs">{{ 'admin.statistics.userByBadge'|trans }}</h1>

    <div class="row">
      {% for item in data %}
        <div class="col-md-4">
          <div class="item">
            {% if item.client.getPictureWebPath is not null and item.client.getPictureWebPath != '' %}
                <img src="/{{ item.client.getPictureWebPath }}" width="65" height="65" alt="" class="service-img center-block">
            {% else %}
                <img src="//placehold.it/65x65" alt="" class="service-img center-block">
            {% endif %}
            <div>{{ item.client.name | trans }}</div>
            <div>{{ item.qty }}</div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endblock %}