{% extends "PROCERGSLoginCidadaoCoreBundle:Admin:base.html.twig" %}
{% block content %}
  <div id="statistics" class="content statistics-region">

    <h1>{{ 'admin.statistics.userByRegion'|trans }}</h1>

    {% for item in data %}
      <div class="col-md-4">
        <div class="item">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          <div>
            {{ item.name | trans }}
          </div>
          {% if item.country is defined %}
          <div>{{ item.country | trans }}</div>
          {% endif %}
          <div class="qty">{{ item.qty }}</div>
        </div>
      </div>
    {% endfor %}

  </div>
{% endblock %}