{% extends "PROCERGSLoginCidadaoCoreBundle::base.loggedIn.html.twig" %}

{% block body %}

<div class="row">
    <div class="col-sm-7 col-sm-offset-4 col-md-7 col-md-offset-4 col-lg-6 col-lg-offset-4 well">
        {{ include("FOSOAuthServerBundle:Authorize:authorize_content.html.twig") }}
    </div>
</div>

{% endblock body %}
